{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static '3atech/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static '3atech/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '3atech/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static '3atech/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

{% endblock extrahead %}

{% block title %}Agregar Registro{% endblock title %}

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{% if object %}Actualizar Registro{% else %}Agregar Registro{% endif %}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'datos_list' %}">Registros</a></li>
          <li class="breadcrumb-item active">{% if object %}Actualizar{% else %}Agregar{% endif %}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
{% endblock contentheader %}

{% block content %}

<section class="content">
  <div class="container-fluid">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    <div class="card card-default card-primary">
      <div class="card-header">
        <h3 class="card-title">Datos para Registrar</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
        </div>
      </div>

      <div class="card-body">
        <form method="post">
          {% csrf_token %}
            <div class="row mb-3">
              <div class="col-md-3">
                <label for="serial_cliente" class="form-label">Serial Cliente</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-light fa-qrcode"></i></span>
                  </div>
                  <input type="text" class="form-control" id="serial_cliente" name="serial_cliente"
                  value="{{ object.serial_cliente|default:'' }}" required 
                  aria-label="Serial Cliente" {% if object %} readonly {% endif %}
                  placeholder="Serial Cliente">
                </div>
              </div>
              <div class="col-md-1">
                <label for="sello_dorado" class="form-label">Sello Dorado</label>
                <div class="form-group">
                  <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" name="sello_dorado" 
                    {% if object.sello_dorado %} checked {% endif %}>
                    <label class="custom-control-label" for="customSwitch3">No/Si</label>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="cedula" class="form-label">Cédula</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-light fa-address-card"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "[E|V]-99.999.999"' data-mask
                  id="cedula" name="cedula" value="{{ object.cedula|default:'' }}" required aria-label="Cédula">
                </div>
              </div>
              <div class="col-md-3">
                <label for="nombre1" class="form-label">Primer Nombre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>N1</b></span>
                  </div>
                  <input type="text" class="form-control" id="nombre1" name="nombre1" 
                  value="{{ object.nombre1|default:'' }}" required 
                  aria-label="Primer Nombre" placeholder="Primer Nombre">
                </div>
              </div>
              <div class="col-md-3">
                <label for="nombre2" class="form-label">Segundo Nombre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>N2</b></span>
                  </div>
                  <input type="text" class="form-control" id="nombre2" name="nombre2" 
                  value="{{ object.nombre2|default:'' }}" required 
                  aria-label="Segundo Nombre" placeholder="Segundo Nombre">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-3">
                <label for="apellido1" class="form-label">Primer Apellido</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>A1</b></span>
                  </div>
                  <input type="text" class="form-control" id="apellido1" name="apellido1" 
                  value="{{ object.apellido1|default:'' }}" required 
                  aria-label="Primer Apellido" placeholder="Primer Apellido">
                </div>
              </div>
              <div class="col-md-3">
                <label for="apellido2" class="form-label">Segundo Apellido</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>A2</b></span>
                  </div>
                  <input type="text" class="form-control" id="apellido2" name="apellido2" 
                  value="{{ object.apellido2|default:'' }}" required 
                  aria-label="Segundo Apellido" placeholder="Segundo Apellido">
                </div>
              </div>
              <div class="col-md-3">
                <label for="urbanismo" class="form-label">Urbanismo</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                  </div>
                  <input type="text" class="form-control" id="urbanismo" name="urbanismo" 
                  value="{{ object.urbanismo|default:'' }}" required 
                  aria-label="Urbanismo" placeholder="Urbanismo">
                </div>
              </div>
              <div class="col-md-2">
                <label for="torre" class="form-label">Torre</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-light fa-city"></i></span>
                  </div>
                  <input type="text" class="form-control" id="torre" name="torre" 
                  value="{{ object.torre|default:'' }}" required 
                  aria-label="Torre" placeholder="Torre">
                </div>
              </div>
              <div class="col-md-1">
                <label for="piso" class="form-label">Piso</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-light fa-building"></i></span>
                  </div>
                  <input type="text" class="form-control" id="piso" name="piso" 
                  value="{{ object.piso|default:'' }}" required 
                  aria-label="Piso" placeholder="Piso">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <label for="apartamento" class="form-label">Apartamento</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                  </div>
                  <input type="text" class="form-control" id="apartamento" name="apartamento" 
                  value="{{ object.apartamento|default:'' }}" required 
                  aria-label="Apartamento" placeholder="Apartamento">
                </div>
              </div>
              <div class="col-md-2">
                <label for="monto_credito" class="form-label">Monto del Crédito Hipotecario a Otorgar</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="monto_credito" name="monto_credito" 
                  value="{{ object.monto_credito|default:'' }}" required 
                  aria-label="Monto del Crédito" placeholder="Monto del Crédito">
                </div>
              </div>
              <div class="col-md-2">
                <label for="precio_venta" class="form-label">Precio Venta</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="precio_venta" name="precio_venta" 
                  value="{{ object.precio_venta|default:'' }}" required 
                  aria-label="Precio Venta" placeholder="Precio Venta">
                </div>
              </div>
              <div class="col-md-2">
                <label for="precio_venta_divisa" class="form-label">Precio Venta en Divisa</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="precio_venta_divisa" name="precio_venta_divisa" 
                  value="{{ object.precio_venta_divisa|default:'' }}" required 
                  aria-label="Precio Venta en Divisa" placeholder="Precio Venta en Divisa">
                </div>
              </div>
              <div class="col-md-2">
                <label for="inicial" class="form-label">Inicial</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="inicial" name="inicial" 
                  value="{{ object.inicial|default:'' }}" required 
                  aria-label="Inicial" placeholder="Inicial">
                </div>
              </div>
              <div class="col-md-2">
                <label for="inicial_porcentaje" class="form-label">Inicial %</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="inicial_porcentaje" name="inicial_porcentaje" 
                  value="{{ object.inicial_porcentaje|default:'' }}" required 
                  aria-label="Inicial %" placeholder="Inicial %">
                  <div class="input-group-append">
                    <span class="input-group-text"><b>%</b></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="identificador" class="form-label">Identificado</label>
                  <select class="form-control select2bs4" style="width: 100%;" 
                  id="identificador" name="identificador" required>
                    {% if object.identificador %} 
                      <option value="{{ object.identificador }}" selected>
                          {{ object.identificador }}
                      </option> 
                    {% endif %}
                    {% if object.identificador != 'El' %}
                        <option>El</option>
                    {% endif %}
                    {% if object.identificador != 'La' %}
                        <option>La</option>
                    {% endif %}
                    {% if object.identificador != 'Los' %}
                        <option>Los</option>
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="denominara" class="form-label">Denominará</label>
                  <select class="form-control select2bs4" style="width: 100%;"
                  id="denominara" name="denominara" required>
                  {% if object.denominara %} 
                    <option value="{{ object.denominara|default:'' }} " selected>
                      {{ object.denominara }}
                    </option> 
                  {% endif %}
                  {% if object.denominara != 'Comprador' %}
                    <option>Comprador</option>
                  {% endif %}
                  {% if object.denominara != 'Compradora' %}
                    <option>Compradora</option>
                  {% endif %}
                  {% if object.denominara != 'Compradores' %}
                    <option>Compradores</option>
                  {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="ciudadano_ciudadana" class="form-label">Ciudadano/Ciudadana</label>
                  <select class="form-control select2bs4" style="width: 100%;"
                  id="ciudadano_ciudadana" name="ciudadano_ciudadana" required>
                  {% if object.ciudadano_ciudadana %} 
                    <option value="{{ object.ciudadano_ciudadana|default:'' }} " selected>
                      {{ object.ciudadano_ciudadana }}
                    </option> 
                  {% endif %}
                  {% if object.ciudadano_ciudadana != 'Ciudadano' %}
                    <option>Ciudadano</option>
                  {% endif %}
                  {% if object.ciudadano_ciudadana != 'Ciudadana' %}
                    <option>Ciudadana</option>
                  {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <label for="anios" class="form-label">Años</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="anios" name="anios" 
                  value="{{ object.anios|default:'' }}" required 
                  aria-label="Años" placeholder="Años">
                  <div class="input-group-append">
                    <span class="input-group-text"><b>Año(s)</b></span>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <label for="meses" class="form-label">Meses</label>
                <div class="input-group mb-3">
                  <input type="number" class="form-control" id="meses" name="meses" 
                  value="{{ object.meses|default:'' }}" required 
                  aria-label="Meses" placeholder="Meses">
                  <div class="input-group-append">
                    <span class="input-group-text"><b>Mes(es)</b></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <label for="cuota_mensual" class="form-label">Cuotas Mensuales</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="cuota_mensual" name="cuota_mensual" 
                  value="{{ object.cuota_mensual|default:'' }}" required 
                  aria-label="Cuota Mensual" placeholder="Cuota Mensual">
                </div>
              </div>
              <div class="col-md-2">
                <label for="cuota_mensual_divisa" class="form-label">Cuota Mensual en Divisa</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="cuota_mensual_divisa" name="cuota_mensual_divisa" 
                  value="{{ object.cuota_mensual_divisa|default:'' }}" required 
                  aria-label="Cuota en Divisa" placeholder="Cuota en Divisa">
                </div>
              </div>
              <div class="col-md-2">
                <label for="flat" class="form-label">Flat</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="flat" name="flat" 
                  value="{{ object.flat|default:'' }}" required 
                  aria-label="Flat" placeholder="Flat">
                </div>
              </div>
              <div class="col-md-2">
                <label for="flat_divisa" class="form-label">Flat en Divisa</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="flat_divisa" name="flat_divisa" 
                  value="{{ object.flat_divisa|default:'' }}" required 
                  aria-label="Flat en Divisa" placeholder="Flat en Divisa">
                </div>
              </div>
              <div class="col-md-2">
                <label for="cuota_financiera" class="form-label">Cuota Financiera Requerida</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="cuota_financiera" name="cuota_financiera" 
                  value="{{ object.cuota_financiera|default:'' }}" required 
                  aria-label="Cuota Financiera" placeholder="Cuota Financiera">
                </div>
              </div>
              <div class="col-md-2">
                <label for="cuota_financiera_divisa" class="form-label">Cuota Financiera Requerida en Divisa</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="cuota_financiera_divisa" name="cuota_financiera_divisa" 
                  value="{{ object.cuota_financiera_divisa|default:'' }}" required 
                  aria-label="Cuota Financiera en Divisa" placeholder="Cuota Financiera en Divisa">
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-2">
                <label for="fongar" class="form-label">Fongar</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>Bs.</b></span>
                  </div>
                  <input type="number" class="form-control" id="fongar" name="fongar" 
                  value="{{ object.fongar|default:'' }}" required 
                  aria-label="Fongar" placeholder="Fongar">
                </div>
              </div>
              <div class="col-md-2">
                <label for="fongar_divisa" class="form-label">Fongar en Divisa</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>$/€</b></span>
                  </div>
                  <input type="number" class="form-control" id="fongar_divisa" name="fongar_divisa" 
                  value="{{ object.fongar_divisa|default:'' }}" required 
                  aria-label="Fongar en Divisa" placeholder="Fongar en Divisa">
                </div>
              </div>
              <div class="col-md-2">
                <label for="expediente" class="form-label">Nro. Expediente</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>#</b></span>
                  </div>
                  <input type="text" class="form-control" id="expediente" name="expediente" 
                  value="{{ object.expediente|default:'' }}" aria-label="Nro. Expediente" placeholder="Nro. Expediente">
                </div>
              </div>
              <div class="col-md-2">
                <label for="contrato_nro" class="form-label">Nro. Contrato</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>#</b></span>
                  </div>
                  <input type="text" class="form-control" id="contrato_nro" name="contrato_nro" 
                  value="{{ object.contrato_nro|default:'' }}" aria-label="Nro. Contrato" placeholder="Nro. Contrato">
                </div>
              </div>
            </div>

            <input type="hidden" name="us_in" value="{{ request.user.username }}">
            <button type="submit" class="btn btn-primary" id="guardar-btn">
              {% if object %}Actualizar Registro{% else %}Guardar{% endif %}
            </button>
            <a href="{% url 'datos_list' %}" class="btn btn-secondary">Cancelar</a>
            <button type="button" class="btn btn-info swalDefaultSuccess">Info</button>
        </form>
      </div>  
    </div>  
  </div>
</section>
{% endblock content %}

{% block scripts %}
  <!-- Select2 -->
  <script src="{% static '3atech/plugins/select2/js/select2.full.min.js' %}"></script>
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

  <!-- Page script -->
  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })

      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
      //Money Euro
      $('[data-mask]').inputmask()

      //Date range picker
      $('#reservation').daterangepicker()
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      })
      //Date range as a button
      $('#daterange-btn').daterangepicker(
        {
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate: moment()
        },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )

      //Timepicker
      $('#timepicker').datetimepicker({
        format: 'LT'
      })

      //Bootstrap Duallistbox
      $('.duallistbox').bootstrapDualListbox()

      //Colorpicker
      $('.my-colorpicker1').colorpicker()
      //color picker with addon
      $('.my-colorpicker2').colorpicker()

      $('.my-colorpicker2').on('colorpickerChange', function (event) {
        $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
      });

      $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      });

    })
  </script>

  {% for message in messages %}
      <script type="text/javascript">
        $(function() {
          const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
          });
      
          $('.swalDefaultSuccess').click(function() {
            Toast.fire({
              icon: 'success',
              title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
            })
          });
          $('.swalDefaultInfo').click(function() {
            Toast.fire({
              icon: 'info',
              title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
            })
          });
          $('.swalDefaultError').click(function() {
            Toast.fire({
              icon: 'error',
              title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
            })
          });
          $('.swalDefaultWarning').click(function() {
            Toast.fire({
              icon: 'warning',
              title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
            })
          });
          $('.swalDefaultQuestion').click(function() {
            Toast.fire({
              icon: 'question',
              title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
            })
          });
        });

          $(document).ready(function() {
              // Verifica el tipo de mensaje y muestra el Toast correspondiente
              var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje (success, info, error, warning)
              var messageText = "{{ message }}"; // Obtiene el texto del mensaje

              if (messageType === 'success') {
                  Toast.fire({
                      icon: 'success',
                      title: messageText,
                  });
              } else if (messageType === 'info') {
                  Toast.fire({
                      icon: 'info',
                      title: messageText,
                  });
              } else if (messageType === 'error') {
                  Toast.fire({
                      icon: 'error',
                      title: messageText,
                  });
              } else if (messageType === 'warning') {
                  Toast.fire({
                      icon: 'warning',
                      title: messageText,
                  });
              }
          });
      </script>
  {% endfor %}
{% endblock scripts %}