{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static '3atech/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<!-- Select2 -->
<link rel="stylesheet" href="{% static '3atech/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '3atech/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static '3atech/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">

{% endblock extrahead %}

{% block title %}Agregar Registro{% endblock title %}

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{% if object %}Actualizar Registro{% else %}Agregar Registro{% endif %}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'datos_list' %}">Registros</a></li>
          <li class="breadcrumb-item active">{% if object %}Actualizar Registro{% else %}Agregar Registro{% endif %}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
{% endblock contentheader %}

{% block content %}
  <section class="content">
    <div class="container-fluid">
      <form method="post">
        {% csrf_token %}
        <div class="card card-default card-primary">
          <div class="card-header">
            <h3 class="card-title">Datos de Expediente</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-3"> 
              <div class="col-md-3">
                <label for="serial_cliente" class="form-label">Serial Cliente</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-light fa-qrcode"></i></span>
                  </div>
                  <input type="text" class="form-control" id="serial_cliente" name="serial_cliente"
                  value="{{ object.serial_cliente|default:'' }}" required 
                  aria-label="Serial Cliente" {% if object %} readonly {% endif %}
                  placeholder="Serial Cliente">
                </div>
              </div>
              <div class="col-md-3">
                <label for="expediente" class="form-label">Nro. Expediente</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>#</b></span>
                  </div>
                  <input type="text" class="form-control" id="expediente" name="expediente" 
                  value="{{ object.expediente|default:'' }}" aria-label="Nro. Expediente" placeholder="Nro. Expediente">
                </div>
              </div>
              <div class="col-md-3">
                <label for="contrato_nro" class="form-label">Nro. Contrato</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><b>#</b></span>
                  </div>
                  <input type="text" class="form-control" id="contrato_nro" name="contrato_nro" 
                  value="{{ object.contrato_nro|default:'' }}" aria-label="Nro. Contrato" placeholder="Nro. Contrato">
                </div>
              </div>
              <div class="col-md-3">
                <label for="representante" class="form-label">Representante</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class='bx bx-briefcase'></i></span>
                  </div>
                  <select class="form-control select2bs4" id="representante" name="representante" required aria-label="representante">
                    <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un representante</option>
                    {% for representante in representantes %}
                        <option value="{{ representante.cedula }}" {% if object.representante.cedula == representante.cedula %}selected{% endif %}>
                            {{ representante.nombre }}
                        </option>
                    {% empty %}
                        <option value="">No hay representantes disponibles</option>
                    {% endfor %}
                  </select>
                </div>             
              </div>
            </div>
            <div class="row mb-3"> 
                <div class="col-md-3">
                    <label for="sello_dorado_oficio" class="form-label">Sello Dorado u Oficio</label>
                    <div class="form-group clearfix">
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary1" name="sello_dorado" value=1 {% if object.sello_dorado %} checked {% endif %}>
                            <label for="radioPrimary1">
                                Sello Dorado
                            </label>
                        </div>
                        <div class="icheck-primary d-inline">
                            <input type="radio" id="radioPrimary2" name="sello_dorado" value=0 {% if not object.sello_dorado %} checked {% endif %}>
                            <label for="radioPrimary2">
                                Oficio
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="nro_dorado_oficio" class="form-label"></label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><b>Nro.</b></span>
                        </div>
                        <input type="text" class="form-control" id="nro_dorado_oficio" name="nro_dorado_oficio" 
                              value="{{ object.nro_dorado_oficio|default:'' }}" required 
                              aria-label="Sello Dorado u Oficio" placeholder="Sello Dorado u Oficio">
                    </div>
                </div>
            </div>
          </div>  
        </div>

        <div class="card card-default card-primary">
          <div class="card-header">
              <h3 class="card-title">Datos de Cliente</h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
          </div>
          <div class="card-body">
              <div class="row mb-3">           
                  <div class="col-md-3">
                      <label for="cedula" class="form-label">Cédula</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-light fa-address-card"></i></span>
                          </div>
                          <input type="text" class="form-control" data-inputmask='"mask": "[E|V]-99.999.999"' data-mask
                              id="cedula" name="cedula" value="{{ object.cedula|default:'' }}" required aria-label="Cédula">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="identificador" class="form-label">Identificado</label>
                          <select class="form-control select2bs4" style="width: 100%;" 
                              id="identificador" name="identificador" required>
                              {% if object.identificador %} 
                                  <option value="{{ object.identificador }}" selected>
                                      {{ object.identificador }}
                                  </option> 
                              {% endif %}
                              {% if object.identificador != 'El' %}
                                  <option>El</option>
                              {% endif %}
                              {% if object.identificador != 'La' %}
                                  <option>La</option>
                              {% endif %}
                              {% if object.identificador != 'Los' %}
                                  <option>Los</option>
                              {% endif %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="denominara" class="form-label">Denominará</label>
                          <select class="form-control select2bs4" style="width: 100%;"
                              id="denominara" name="denominara" required>
                              {% if object.denominara %} 
                                  <option value="{{ object.denominara|default:'' }} " selected>
                                      {{ object.denominara }}
                                  </option> 
                              {% endif %}
                              {% if object.denominara != 'Comprador' %}
                                  <option>Comprador</option>
                              {% endif %}
                              {% if object.denominara != 'Compradora' %}
                                  <option>Compradora</option>
                              {% endif %}
                              {% if object.denominara != 'Compradores' %}
                                  <option>Compradores</option>
                              {% endif %}
                          </select>
                      </div>
                  </div>  
                  <div class="col-md-3">
                      <div class="form-group">
                          <label for="ciudadano_ciudadana" class="form-label">Ciudadano/Ciudadana</label>
                          <select class="form-control select2bs4" style="width: 100%;"
                              id="ciudadano_ciudadana" name="ciudadano_ciudadana" required>
                              {% if object.ciudadano_ciudadana %} 
                                  <option value="{{ object.ciudadano_ciudadana|default:'' }} " selected>
                                      {{ object.ciudadano_ciudadana }}
                                  </option> 
                              {% endif %}
                              {% if object.ciudadano_ciudadana != 'Ciudadano' %}
                                  <option>Ciudadano</option>
                              {% endif %}
                              {% if object.ciudadano_ciudadana != 'Ciudadana' %}
                                  <option>Ciudadana</option>
                              {% endif %}
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row mb-3">              
                  <div class="col-md-3">
                      <label for="nombre1" class="form-label">Primer Nombre</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>N1</b></span>
                          </div>
                          <input type="text" class="form-control" id="nombre1" name="nombre1" 
                              value="{{ object.nombre1|default:'' }}" required 
                              aria-label="Primer Nombre" placeholder="Primer Nombre">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="nombre2" class="form-label">Segundo Nombre</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>N2</b></span>
                          </div>
                          <input type="text" class="form-control" id="nombre2" name="nombre2" 
                              value="{{ object.nombre2|default:'' }}" required 
                              aria-label="Segundo Nombre" placeholder="Segundo Nombre">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="apellido1" class="form-label">Primer Apellido</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>A1</b></span>
                          </div>
                          <input type="text" class="form-control" id="apellido1" name="apellido1" 
                              value="{{ object.apellido1|default:'' }}" required 
                              aria-label="Primer Apellido" placeholder="Primer Apellido">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="apellido2" class="form-label">Segundo Apellido</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>A2</b></span>
                          </div>
                          <input type="text" class="form-control" id="apellido2" name="apellido2" 
                              value="{{ object.apellido2|default:'' }}" required 
                              aria-label="Segundo Apellido" placeholder="Segundo Apellido">
                      </div>
                  </div>
              </div>
          </div>
        </div>

        <div class="card card-default card-primary">
          <div class="card-header">
              <h3 class="card-title">Datos de Ubicación Geográfica</h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
          </div>
          <div class="card-body">
              <div class="row mb-3">
                  <div class="col-md-3">
                    <label for="estado" class="form-label">Estado</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                        </div>
                        <select class="form-control select2bs4" id="estado" name="estado" required onchange="cargarMunicipios()" aria-label="estado">
                            <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un estado</option>
                            {% for estado in estados %}
                                <option value="{{ estado.co_estado }}" {% if object.estado.co_estado == estado.co_estado %}selected{% endif %}>
                                    {{ estado.co_estado }} - {{ estado.des_estado }}
                                </option>
                            {% empty %}
                                <option value="">No hay estados disponibles</option>
                            {% endfor %}
                          </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <label for="municipio" class="form-label">Municipio</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                          </div>
                          <select class="form-control select2bs4" id="municipio" name="municipio" required onchange="cargarParroquias()" aria-label="municipio">
                            <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un municipio</option>
                            {% for municipio in municipios %}
                                <option value="{{ municipio.co_municipio }}" {% if object.municipio.co_municipio == municipio.co_municipio %}selected{% endif %}>
                                    {{ municipio.co_municipio }} - {{ municipio.des_municipio }}
                                </option>
                            {% empty %}
                                <option value="">No hay municipios disponibles</option>
                            {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="parroquia" class="form-label">Parroquia</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                          </div>
                          <select class="form-control select2bs4" id="parroquia" name="parroquia" required onchange="cargarSectores()" aria-label="parroquia">
                            <option value="" disabled {% if not object %}selected{% endif %}>Seleccione una parroquia</option>
                            {% for parroquia in parroquias %}
                                <option value="{{ parroquia.co_parroquia }}" {% if object.parroquia.co_parroquia == parroquia.co_parroquia %}selected{% endif %}>
                                    {{ parroquia.co_parroquia }} - {{ parroquia.des_parroquia }}
                                </option>
                            {% empty %}
                                <option value="">No hay parroquias disponibles</option>
                            {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-3">
                    <label for="sector" class="form-label">Sector</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                        </div>
                        <select class="form-control select2bs4" id="sector" name="sector" required aria-label="sector">
                          <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un sector</option>
                          {% for sector in sectores %}
                              <option value="{{ sector.co_sector }}" {% if object.sector.co_sector == sector.co_sector %}selected{% endif %}>
                                  {{ sector.co_sector }} - {{ sector.des_sector }}
                              </option>
                          {% empty %}
                              <option value="">No hay sectores disponibles</option>
                          {% endfor %}
                        </select>
                    </div>
                  </div>
              </div>
              <div class="row mb-3">
                    <div class="col-md-3">
                        <label for="urbanismo" class="form-label">Urbanismo</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <input type="text" class="form-control" id="urbanismo" name="urbanismo" 
                                value="{{ object.urbanismo|default:'' }}" required 
                                aria-label="Urbanismo" placeholder="Urbanismo">
                        </div>
                    </div>
                  <div class="col-md-3">
                      <label for="torre" class="form-label">Torre</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-light fa-city"></i></span>
                          </div>
                          <input type="text" class="form-control" id="torre" name="torre" 
                              value="{{ object.torre|default:'' }}" required 
                              aria-label="Torre" placeholder="Torre">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="piso" class="form-label">Piso</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-light fa-building"></i></span>
                          </div>
                          <input type="text" class="form-control" id="piso" name="piso" 
                              value="{{ object.piso|default:'' }}" required 
                              aria-label="Piso" placeholder="Piso">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="apartamento" class="form-label">Apartamento</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                          </div>
                          <input type="text" class="form-control" id="apartamento" name="apartamento" 
                              value="{{ object.apartamento|default:'' }}" required aria-label="Apartamento" 
                              placeholder="Apartamento">
                      </div>
                  </div>
              </div>
              <fieldset class="border p-2 rounded-3 mb-3">
                  <legend class="w-auto">Linderos:</legend>
                  <div class="row mb-3">
                      <div class="col-md-3">
                          <label for="norte" class="form-label">Norte</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-light fa-city"></i></span>
                              </div>
                              <input type="text" class="form-control" id="norte" name="norte" 
                                  value="{{ object.norte|default:'' }}" required 
                                  aria-label="Norte" placeholder="Norte">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="sur" class="form-label">Sur</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-light fa-building"></i></span>
                              </div>
                              <input type="text" class="form-control" id="sur" name="sur" 
                                  value="{{ object.sur|default:'' }}" required 
                                  aria-label="Sur" placeholder="Sur">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="este" class="form-label">Este</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="este" name="este" 
                                  value="{{ object.este|default:'' }}" required aria-label="Este" 
                                  placeholder="Este">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="oeste" class="form-label">Oeste</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="oeste" name="oeste" 
                                  value="{{ object.oeste|default:'' }}" required aria-label="Oeste" 
                                  placeholder="Oeste">
                          </div>
                      </div>
                  </div>
              </fieldset>
              <fieldset class="border p-2 rounded-3 mb-3">
                  <legend class="w-auto">Ambientes:</legend>
                  <div class="row mb-3">
                      <div class="col-md-3">
                          <label for="cocina" class="form-label">Cocina</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-light fa-city"></i></span>
                              </div>
                              <input type="text" class="form-control" id="cocina" name="cocina" 
                                  value="{{ object.cocina|default:'' }}" required 
                                  aria-label="Cocina" placeholder="Cocina">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="dormitorio" class="form-label">Dormitorio</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class="fas fa-light fa-building"></i></span>
                              </div>
                              <input type="text" class="form-control" id="dormitorio" name="dormitorio" 
                                  value="{{ object.dormitorio|default:'' }}" required 
                                  aria-label="Dormitorio" placeholder="Dormitorio">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="baño" class="form-label">Baño</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="baño" name="baño" 
                                  value="{{ object.baño|default:'' }}" required aria-label="Baño" 
                                  placeholder="Baño">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="sala" class="form-label">Sala</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="sala" name="sala" 
                                  value="{{ object.sala|default:'' }}" required aria-label="Sala" 
                                  placeholder="Sala">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="comedor" class="form-label">Comedor</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="comedor" name="comedor" 
                                  value="{{ object.comedor|default:'' }}" required aria-label="Comedor" 
                                  placeholder="Comedor">
                          </div>
                      </div>
                      <div class="col-md-3">
                          <label for="lavadero" class="form-label">Lavadero</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-building-house'></i></span>
                              </div>
                              <input type="text" class="form-control" id="lavadero" name="lavadero" 
                                  value="{{ object.lavadero|default:'' }}" required aria-label="Lavadero" 
                                  placeholder="Lavadero">
                          </div>
                      </div>
                  </div>
              </fieldset>
          </div>
        </div>

        <div class="card card-default card-primary">
          <div class="card-header">
              <h3 class="card-title">Datos del Crédito</h3>
              <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
              </div>
          </div>
          <div class="card-body">
              <div class="row mb-3">
                  <div class="col-md-2">
                      <label for="monto_credito" class="form-label">Monto del Crédito Hipotecario a Otorgar</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>Bs.</b></span>
                          </div>
                          <input type="number" class="form-control" id="monto_credito" name="monto_credito" 
                              value="{{ object.monto_credito|default:'' }}" required 
                              aria-label="Monto del Crédito" placeholder="Monto del Crédito">
                      </div>
                  </div>
                  <div class="col-md-2">
                      <label for="precio_venta" class="form-label">Precio Venta</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>Bs.</b></span>
                          </div>
                          <input type="number" class="form-control" id="precio_venta" name="precio_venta" 
                              value="{{ object.precio_venta|default:'' }}" required 
                              aria-label="Precio Venta" placeholder="Precio Venta">
                      </div>
                  </div>
                  <div class="col-md-2">
                      <label for="precio_venta_divisa" class="form-label">Precio Venta en Divisa</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>$/€</b></span>
                          </div>
                          <input type="number" class="form-control" id="precio_venta_divisa" name="precio_venta_divisa" 
                              value="{{ object.precio_venta_divisa|default:'' }}" required 
                              aria-label="Precio Venta en Divisa" placeholder="Precio Venta en Divisa">
                      </div>
                  </div>
                  <div class="col-md-2">
                      <label for="inicial" class="form-label">Inicial</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>$/€</b></span>
                          </div>
                          <input type="number" class="form-control" id="inicial" name="inicial" 
                              value="{{ object.inicial|default:'' }}" required 
                              aria-label="Inicial" placeholder="Inicial">
                      </div>
                  </div>
                  <div class="col-md-2">
                      <label for="inicial_porcentaje" class="form-label">Inicial %</label>
                      <div class="input-group mb-3">
                          <input type="number" class="form-control" id="inicial_porcentaje" name="inicial_porcentaje" 
                              value="{{ object.inicial_porcentaje|default:'' }}" required 
                              aria-label="Inicial %" placeholder="Inicial %">
                          <div class="input-group-append">
                              <span class="input-group-text"><b>%</b></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                    <label for="anios" class="form-label">Años</label>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="anios" name="anios" 
                            value="{{ object.anios|default:'' }}" required 
                            aria-label="Años" placeholder="Años">
                        <div class="input-group-append">
                            <span class="input-group-text"><b>Año(s)</b></span>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="row mb-3">                                
                  <div class="col-md-2">
                      <label for="meses" class="form-label">Meses</label>
                      <div class="input-group mb-3">
                          <input type="number" class="form-control" id="meses" name="meses" 
                              value="{{ object.meses|default:'' }}" required 
                              aria-label="Meses" placeholder="Meses">
                          <div class="input-group-append">
                              <span class="input-group-text"><b>Mes(es)</b></span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-2">
                    <label for="cuota_mensual" class="form-label">Cuotas Mensuales</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Bs.</b></span>
                        </div>
                        <input type="number" class="form-control" id="cuota_mensual" name="cuota_mensual" 
                            value="{{ object.cuota_mensual|default:'' }}" required 
                            aria-label="Cuota Mensual" placeholder="Cuota Mensual">
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="cuota_mensual_divisa" class="form-label">Cuota Mensual en Divisa</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>$/€</b></span>
                        </div>
                        <input type="number" class="form-control" id="cuota_mensual_divisa" name="cuota_mensual_divisa" 
                            value="{{ object.cuota_mensual_divisa|default:'' }}" required 
                            aria-label="Cuota en Divisa" placeholder="Cuota en Divisa">
                    </div>
                </div>
                <div class="col-md-2">
                  <label for="flat" class="form-label">Flat</label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><b>Bs.</b></span>
                      </div>
                      <input type="number" class="form-control" id="flat" name="flat" 
                          value="{{ object.flat|default:'' }}" required 
                          aria-label="Flat" placeholder="Flat">
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="flat_divisa" class="form-label">Flat en Divisa</label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><b>$/€</b></span>
                      </div>
                      <input type="number" class="form-control" id="flat_divisa" name="flat_divisa" 
                          value="{{ object.flat_divisa|default:'' }}" required 
                          aria-label="Flat en Divisa" placeholder="Flat en Divisa">
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="cuota_financiera" class="form-label">Cuota Financiera Requerida</label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><b>Bs.</b></span>
                      </div>
                      <input type="number" class="form-control" id="cuota_financiera" name="cuota_financiera" 
                          value="{{ object.cuota_financiera|default:'' }}" required 
                          aria-label="Cuota Financiera" placeholder="Cuota Financiera">
                  </div>
                </div>
              </div>
              <div class="row mb-3">  
                  <div class="col-md-2">
                      <label for="cuota_financiera_divisa" class="form-label">Cuota Financiera Requerida en Divisa</label>
                      <div class="input-group mb-3">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><b>$/€</b></span>
                          </div>
                          <input type="number" class="form-control" id="cuota_financiera_divisa" name="cuota_financiera_divisa" 
                              value="{{ object.cuota_financiera_divisa|default:'' }}" required 
                              aria-label="Cuota Financiera en Divisa" placeholder="Cuota Financiera en Divisa">
                      </div>
                  </div>
                  <div class="col-md-2">
                    <label for="fongar" class="form-label">Fongar</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>Bs.</b></span>
                        </div>
                        <input type="number" class="form-control" id="fongar" name="fongar" 
                            value="{{ object.fongar|default:'' }}" required 
                            aria-label="Fongar" placeholder="Fongar">
                    </div>
                  </div>
                  <div class="col-md-2">
                    <label for="fongar_divisa" class="form-label">Fongar en Divisa</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><b>$/€</b></span>
                        </div>
                        <input type="number" class="form-control" id="fongar_divisa" name="fongar_divisa" 
                            value="{{ object.fongar_divisa|default:'' }}" required 
                            aria-label="Fongar en Divisa" placeholder="Fongar en Divisa">
                    </div>
                  </div>
              </div>
          </div>
       </div>

        <input type="hidden" name="us_in" value="{{ request.user.username }}">
        <button type="submit" class="btn btn-primary" id="guardar-btn">
          {% if object %}Actualizar Registro{% else %}Guardar{% endif %}
        </button>
        <a href="{% url 'datos_list' %}" class="btn btn-secondary">Cancelar</a>
      </form>
    </div>
  </section>
{% endblock content %}

{% block scripts %}
  <!-- Select2 -->
  <script src="{% static '3atech/plugins/select2/js/select2.full.min.js' %}"></script>
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

  <!-- Page script -->
  <script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })

      $('[data-mask]').inputmask()
      
      $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      });


      // SweetAlert2 example
      $('#btn4').on('click', function() {
        Swal.fire({
          title: "The Internet?",
          text: "That thing is still around?",
          icon: "question"
        });
        
      });

      $('#btn3').on('click', function() {
        Swal.fire({
          //position: 'top-start', //permite "top-end"
          type: 'success',
          title: 'Tú trabajo ha sido grabado',
          showConfirmButton: false,
          timer: 2000 //el tiempo que dura el mensaje en ms
        });    
      });

      $("#btn2").click(function(){
        /*Swal.fire({
            //error
            type: 'error',
            title: 'Error',
            text: '¡Algo salió mal!',        
        });
        Swal.fire({        
            type: 'warning',
            title: 'Éxito',
            text: '¡Perfecto!',        
        });
        Swal.fire({        
            type: 'success',
            title: 'Éxito',
            text: '¡Perfecto!',        
        });
        Swal.fire({        
            type: 'info',
            title: 'Éxito',
            text: '¡Perfecto!',        
        });
        */
        Swal.fire({        
            type: 'question',
            title: 'Éxito',
            text: '¡Perfecto!',    
            showConfirmButton: false,   
            timer: 2000, 
        });
    });	


    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'info') {
              Swal.fire({        
                type: 'info',
                title: 'Información',
                text: messageText,   
                //timer: 2000
              });
          } else if (messageType === 'error') {
              Swal.fire({  
                type: 'error',
                title: 'Error!',
                text: messageText,
                //timer: 2000
              });
          } else if (messageType === 'warning') {
              Swal.fire({ 
                type: 'warning', 
                title: '¡Advertencia!',
                text: messageText,
                //timer: 2000
              });
          }
      {% endfor %}
  });

  function cargarMunicipios() {
    const estadoId = document.getElementById('estado').value;
    fetch(`/api/municipios/?estado=${estadoId}`)
        .then(response => response.json())
        .then(data => {
            const municipioSelect = document.getElementById('municipio');
            municipioSelect.innerHTML = '<option value="" disabled selected>Seleccione un Municipio</option>';
            data.forEach(municipio => {
                municipioSelect.innerHTML += `<option value="${municipio.co_municipio}">${municipio.co_municipio} - ${municipio.des_municipio}</option>`;
            });
            // Si hay un municipio seleccionado, lo seleccionamos
            if ("{{ object.municipio.co_municipio }}" !== "") {
                municipioSelect.value = "{{ object.municipio.co_municipio }}";
                cargarParroquias(); // Cargar parroquias para el municipio seleccionado
            }
        })
        .catch(error => {
            console.error('Error al cargar los municipios:', error);
        });
}

function cargarParroquias() {
    const municipioId = document.getElementById('municipio').value;
    fetch(`/api/parroquias?municipio=${municipioId}`)
        .then(response => response.json())
        .then(data => {
            const parroquiaSelect = document.getElementById('parroquia');
            parroquiaSelect.innerHTML = '<option value="" disabled selected>Seleccione una Parroquia</option>';
            data.forEach(parroquia => {
                parroquiaSelect.innerHTML += `<option value="${parroquia.co_parroquia}">${parroquia.co_parroquia} - ${parroquia.des_parroquia}</option>`;
            });
            // Si hay una parroquia seleccionada, la seleccionamos
            if ("{{ object.parroquia.co_parroquia }}" !== "") {
                parroquiaSelect.value = "{{ object.parroquia.co_parroquia }}";
            }
        })
        .catch(error => {
            console.error('Error al cargar las parroquias:', error);
        });
}

function cargarSectores() {
    const codigoPostalId = document.getElementById('codigo_postal').value;
    fetch(`/api/sector?codigopostal=${codigoPostalId}`)
        .then(response => response.json())
        .then(data => {
            const sectorSelect = document.getElementById('sector');
            sectorSelect.innerHTML = '<option value="" disabled selected>Seleccione un Sector</option>';
            data.forEach(sector => {
                sectorSelect.innerHTML += `<option value="${sector.co_sector}">${sector.co_sector} - ${sector.des_sector}</option>`;
            });
            // Si hay un sector seleccionado, lo seleccionamos
            if ("{{ object.sector.co_sector }}" !== "") {
                sectorSelect.value = "{{ object.sector.co_sector }}";
            }
        })
        .catch(error => {
            console.error('Error al cargar los sectores:', error);
        });
}

    // Cargar municipios y parroquias al cargar la página si estamos editando
    document.addEventListener('DOMContentLoaded', function() {
    if ("{{ object }}" !== "") {
        cargarMunicipios(); // Cargar municipios al cargar la página
    }
    });

    $(document).ready(function() {
        $('#representante').select2bs4({
            placeholder: "Seleccione un ff",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#estado').select2bs4({
            placeholder: "Seleccione un Estado",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#municipio').select2bs4({
            placeholder: "Seleccione un Municipio",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#parroquia').select2bs4({
            placeholder: "Seleccione un Parroquia",
            allowClear: true
        }); 
    });

    $(document).ready(function() {
        $('#sector').select2bs4({
            placeholder: "Seleccione un Sector",
            allowClear: true
        });
    });
  </script>

  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}


{% endblock scripts %}