{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static '3atech/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static '3atech/plugins/select2/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static '3atech/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="{% static '3atech/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
  
{% endblock extrahead %}

{% block title %}Agregar Registro{% endblock title %}

{% block contentheader %}
    <div class="content-header">
        <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{% if object %}Actualizar Registro{% else %}Agregar Registro{% endif %}</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'datos_list' %}">Registros</a></li>
                <li class="breadcrumb-item active">{% if object %}Actualizar{% else %}Agregar{% endif %}</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock contentheader %} 
   
{% block content %}
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label for="serial_cliente" class="form-label">Serial Cliente</label>
                <input type="text" class="form-control" id="serial_cliente" name="serial_cliente" 
                    value="{{ datos.serial_cliente|default:'' }}" required aria-label="Serial del cliente" {% if object %} readonly {% endif %}>
            </div>
            <div class="mb-3">
                <label for="sello_dorado" class="form-label">Sello Dorado</label>
                <div class="card-body">
                    <input type="checkbox" name="sello_dorado" checked data-bootstrap-switch>
                    <input type="checkbox" name="sello_dorado" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                  </div>
            </div>
                        <!-- Bootstrap Switch -->
                        <div class="card card-secondary">
                            <div class="card-header">
                              <h3 class="card-title">Bootstrap Switch</h3>
                            </div>
                            <div class="card-body">
                              <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch>
                              <input type="checkbox" name="my-checkbox" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                          </div>
            <div class="mb-3">
                <label for="des_urb" class="form-label">Descripción</label>
                <textarea class="form-control" name="des_urb" id="des_urb" rows="4" cols="60" aria-label="Descripción del urbanismo">{{ datos.des_urb|default:''|slice:":-1" }}</textarea>
            </div>
            
            <input type="hidden" name="us_in" value="{{ request.user.username }}">
            <button type="submit" class="btn btn-primary">
                {% if object %}Actualizar Registro{% else %}Guardar{% endif %}
            </button>
            <a href="{% url 'datos_list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
{% endblock content %}

{% block scripts %}
    <!-- Select2 -->
    <script src="{% static '3atech/plugins/select2/js/select2.full.min.js' %}"></script>
    <!-- Bootstrap Switch -->
    <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

    <!-- Page script -->
<script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()
  
      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
  
      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
      //Money Euro
      $('[data-mask]').inputmask()
  
      //Date range picker
      $('#reservation').daterangepicker()
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      })
      //Date range as a button
      $('#daterange-btn').daterangepicker(
        {
          ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate  : moment()
        },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )
  
      //Timepicker
      $('#timepicker').datetimepicker({
        format: 'LT'
      })
      
      //Bootstrap Duallistbox
      $('.duallistbox').bootstrapDualListbox()
  
      //Colorpicker
      $('.my-colorpicker1').colorpicker()
      //color picker with addon
      $('.my-colorpicker2').colorpicker()
  
      $('.my-colorpicker2').on('colorpickerChange', function(event) {
        $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
      });
  
      $("input[data-bootstrap-switch]").each(function(){
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      });
  
    })
  </script>
{% endblock scripts %}
