{% extends 'layouts/base-3a.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- Layout Demo -->
    <div class="layout-demo-wrapper">
      <div class="layout-demo-placeholder">
        
      </div>
      <div class="layout-demo-info">
        
      </div>
    </div>
    <!--/ Layout Demo -->
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block scripts %}

{% endblock scripts %}
