{% extends 'layouts/base.html' %} 
{% load static %} 

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Datos Para Contratos{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Datos</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Formularios</li>
          <li class="breadcrumb-item active">Listado de datos</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 

{% block total_registros %}{{ total_registros }}{% endblock total_registros %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-end">
    <a href="{% url 'dato_create' %}" class="btn btn-primary">
      <i class="fas fa-solid fa-plus me-1"></i>
    </a>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Serial Cliente</th>
          <th>Sello Dorado</th>
          <th>Cédula</th>
          <th>Primer Nombre</th>
          <th>Segundo Nombre</th>
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Urbanismo</th>
          <th>Torre</th>
          <th>Piso</th>
          <th>Apartamento</th>
          <th>Monto Crédito</th>
          <th>Precio Venta</th>
          <th>Precio Venta Divisa</th>
          <th>Inicial</th>
          <th>% Inicial</th>
          <th>Identificador</th>
          <th>Denominará</th>
          <th>Ciudadano(a)</th>
          <th>Años</th>
          <th>Meses</th>
          <th>Cuotas Mensuales</th>
          <th>Cuotas Mensuales Divisa</th>
          <th>Flat</th>
          <th>Flat Divisa</th>
          <th>Cuota Financiera</th>
          <th>Cuota Financiera Divisa</th>
          <th>Fongar</th>
          <th>Fongar Divisa</th>
          <th>Expediente</th>
          <th>Contrato Nro.</th>
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
        <tr style="cursor: pointer" data-toggle="modal" data-target="#modalRegistro{{ registro.serial_cliente }}">
          <td>{{ registro.serial_cliente }}
              <!-- Modal -->
              <div class="modal fade" id="modalRegistro{{ registro.serial_cliente }}" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="ModalLabel">Detalles del Registro</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Serial Cliente</b></label>
                            <p class="form-control-static">{{ registro.serial_cliente }}</p>
                        </div>
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Expediente</b></label>
                          <p class="form-control-static">{{ registro.expediente }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Contrato Nro.</b></label>
                          <p class="form-control-static">{{ registro.contrato_nro }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Sello Dorado</b></label>
                            <p class="form-control-static">
                                {% if registro.sello_dorado %}
                                    <span class="badge bg-success">Si, Emitido</span>
                                {% else %}
                                    <span class="badge bg-danger">Oficio</span>
                                {% endif %}
                            </p>
                        </div> 
                      </div>
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Cédula</b></label>
                            <p class="form-control-static">{{ registro.cedula }}</p>
                        </div>
                      </div>    
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Nombre 1</b></label>
                            <p class="form-control-static">{{ registro.nombre1 }}</p>
                        </div>
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Nombre 2</b></label>
                            <p class="form-control-static">{{ registro.nombre2 }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Apellido 1</b></label>
                          <p class="form-control-static">{{ registro.apellido1 }}</p>
                        </div>
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Apellido 2</b></label>
                          <p class="form-control-static">{{ registro.apellido2 }}</p>
                        </div>    
                      </div>
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Urbanismo</b></label>
                            <p class="form-control-static">{{ registro.urbanismo }}</p>
                        </div>
                        <div class="col-sm-1 mb-1">
                            <label class="form-label"><b>Torre</b></label>
                            <p class="form-control-static">{{ registro.torre }}</p>
                        </div>  
                        <div class="col-sm-2 mb-1">
                          <label class="form-label"><b>Piso</b></label>
                          <p class="form-control-static">{{ registro.piso }}</p>
                        </div>  
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Apartamento</b></label>
                          <p class="form-control-static">{{ registro.apartamento }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Monto Crédito</b></label>
                          <p class="form-control-static">{{ registro.monto_credito }}</p>
                        </div>
                      </div>                                                 
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>Precio Venta</b></label>
                            <p class="form-control-static">{{ registro.precio_venta }}</p>
                        </div>  
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Precio Venta Divisa</b></label>
                          <p class="form-control-static">{{ registro.precio_venta_divisa }}</p>
                        </div>  
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Inicial</b></label>
                          <p class="form-control-static">{{ registro.inicial }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                            <label class="form-label"><b>% Inicial</b></label>
                            <p class="form-control-static">{{ registro.inicial_porcentaje }}</p>
                        </div>  
                      </div>

                      <div class="row">
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Identificador</b></label>
                          <p class="form-control-static">{{ registro.identificador }}</p>
                        </div>  
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Denominará</b></label>
                          <p class="form-control-static">{{ registro.denominara }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Ciudadano(a)</b></label>
                          <p class="form-control-static">{{ registro.ciudadano_ciudadana }}</p>
                        </div>  
                      </div>
                      <div class="row">
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Años</b></label>
                          <p class="form-control-static">{{ registro.anios }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Meses</b></label>
                          <p class="form-control-static">{{ registro.meses }}</p>
                        </div>  
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Cuotas Mensuales</b></label>
                          <p class="form-control-static">{{ registro.cuota_mensual }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Cuotas Mensuales Divisa</b></label>
                          <p class="form-control-static">{{ registro.cuota_mensual_divisa }}</p>
                        </div>  
                      </div>

                      <div class="row">
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Flat</b></label>
                          <p class="form-control-static">{{ registro.flat }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Flat Divisa</b></label>
                          <p class="form-control-static">{{ registro.flat_divisa }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Cuota Financiera</b></label>
                          <p class="form-control-static">{{ registro.cuota_financiera }}</p>
                        </div> 
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Cuota Financiera Divisa</b></label>
                          <p class="form-control-static">{{ registro.cuota_financiera_divisa }}</p>
                        </div>   
                      </div>

                      <div class="row">
                        <div class="col-sm-3 mb-1">
                          <label class="form-label"><b>Fongar</b></label>
                          <p class="form-control-static">{{ registro.fongar }}</p>
                        </div> 
                        <div class="col-sm-6 mb-1">
                          <label class="form-label"><b>Fongar Divisa</b></label>
                          <p class="form-control-static">{{ registro.fongar_divisa }}</p>
                        </div>  
                      </div>

                    </div>
                    <div class="modal-footer d-flex justify-content-center gap-2">
                      <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-dismiss="modal">
                          <span class="tf-icons bx bx-exit">
                      </button>
                      <a class="btn btn-icon btn-outline-primary" href="{% url 'dato_update' registro.serial_cliente %}" title="Editar">
                          <span class="tf-icons bx bx-edit"></span>
                      </a>
                      <a class="btn btn-icon btn-outline-danger delete-btn" href="{% url 'dato_delete' registro.serial_cliente %}" title="Eliminar">
                          <span class="tf-icons bx bx-trash"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

          </td>
          <td>
            {% if registro.sello_dorado %}
            <span class="badge bg-success color-palette">Si</span>
            {% else %}
            <span class="badge bg-secondary">No</span>
            {% endif %}
          </td>
          <td>{{ registro.cedula }}</td>
          <td>{{ registro.nombre1 }}</td>
          <td>{{ registro.nombre2 }}</td>
          <td>{{ registro.apellido1 }}</td>
          <td>{{ registro.apellido2 }}</td>
          <td>{{ registro.urbanismo }}</td>
          <td>{{ registro.torre }}</td>
          <td>{{ registro.piso }}</td>
          <td>{{ registro.apartamento }}</td>
          <td>{{ registro.monto_credito }}</td>
          <td>{{ registro.precio_venta }}</td>
          <td>{{ registro.precio_venta_divisa }}</td>
          <td>{{ registro.inicial }}</td>
          <td>{{ registro.inicial_porcentaje }}</td>
          <td>{{ registro.identificador }}</td>
          <td>{{ registro.denominara }}</td>
          <td>{{ registro.ciudadano_ciudadana }}</td>
          <td>{{ registro.anios }}</td>
          <td>{{ registro.meses }}</td>
          <td>{{ registro.cuota_mensual }}</td>
          <td>{{ registro.cuota_mensual_divisa }}</td>
          <td>{{ registro.flat }}</td>
          <td>{{ registro.flat_divisa }}</td>
          <td>{{ registro.cuota_financiera }}</td>
          <td>{{ registro.cuota_financiera_divisa }}</td>
          <td>{{ registro.fongar }}</td>
          <td>{{ registro.fongar_divisa }}</td>
          <td>{{ registro.expediente }}</td>
          <td>{{ registro.contrato_nro }}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="28" class="text-center">
            Actualmente no existe registros
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>

{% endblock content %} 

{% block scripts %}
<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
  $(document).ready(function() {
    $('.delete-btn').on('click', function(e) {
      e.preventDefault(); // Evitar la acción por defecto del enlace

      const serialCliente = $(this).data('serial-cliente');
      const url = "{% url 'dato_delete' 'serialClientePlaceholder' %}".replace('serialClientePlaceholder', serialCliente);

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons.fire({
        title: "¿Estás seguro?",
        text: "¡No podrás revertir esto!",
        type: "warning", 
        showCancelButton: true,
        confirmButtonText: "Sí, eliminarlo!",
        cancelButtonText: "No, cancelar!",
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = url; // Redirigir a la URL de eliminación
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          swalWithBootstrapButtons.fire({
            title: "Cancelado",
            text: "El registro está a salvo :)",
            type: "success" 
          });
        }
      });
    });
  });
</script>
{% endblock scripts %}
