{% extends 'layouts/base.html' %} 
{% load static %} 

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Datos Para Contratos{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Datos</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Formularios</li>
          <li class="breadcrumb-item active">Listado de datos</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 

{% block total_registros %}{{ total_registros }}{% endblock total_registros %}

{% block content %}
<div class="card">
  <div class="card-header d-flex justify-content-end">
    <a href="{% url 'dato_create' %}" class="btn btn-primary">
      <i class="fas fa-solid fa-plus me-1"></i>
    </a>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
          <tr>
            <th>Serial Cliente</th>
            <th>Sello Dorado</th>
            <th>Cédula</th>
            <th>Primer Nombre</th>
            <th>Primer Apellido</th>
            <th>Estado</th>
            <th>Urbanismo</th>
            <th>Expediente</th>
            <th>Contrato Nro.</th>
            <th>Acciones</th>
          </tr>
      </thead>
      <tbody>
          {% for registro in registros %}
          <tr>
            <td>{{ registro.serial_cliente }}</td>
            <td class="text-center">
              {% if registro.sello_dorado %}
              <span class="badge bg-success color-palette">Si</span>
              {% else %}
              <span class="badge bg-secondary">No</span>
              {% endif %}
            </td>
            <td>{{ registro.cedula }}</td>
            <td>{{ registro.nombre1 }}</td>
            <td>{{ registro.apellido1 }}</td>
            <td>{{ registro.estado }}</td>
            <td>{{ registro.urbanismo }}</td>
            <td>{{ registro.expediente }}</td>
            <td>{{ registro.contrato_nro }}</td>
              <td>
                  <a class="btn btn-primary" href="{% url 'dato_update' registro.serial_cliente %}" title="Editar">
                    <span class="tf-icons bx bx-edit"></span>
                  </a>
                  <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{ registro.serial_cliente }}" data-nombre="{{ registro.nombre1 }}">
                    <i class='bx bx-trash' ></i>
                  </button>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>



{% endblock content %} 

{% block scripts %}
<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
  $(document).ready(function() {
    $('.delete-btn').on('click', function(e) {
      e.preventDefault(); // Evitar la acción por defecto del enlace

      const serialCliente = $(this).data('serial-cliente');
      const url = "{% url 'dato_delete' 'serialClientePlaceholder' %}".replace('serialClientePlaceholder', serialCliente);

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons.fire({
        title: "¿Estás seguro?",
        text: "¡No podrás revertir esto!",
        type: "warning", 
        showCancelButton: true,
        confirmButtonText: "Sí, eliminarlo!",
        cancelButtonText: "No, cancelar!",
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = url; // Redirigir a la URL de eliminación
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          swalWithBootstrapButtons.fire({
            title: "Cancelado",
            text: "El registro está a salvo :)",
            type: "success" 
          });
        }
      });
    });
  });
</script>
{% endblock scripts %}
