{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />

<!-- Select2 -->
<link rel="stylesheet" href="{% static '3atech/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '3atech/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock extrahead %} 

{% block title %}Gestión de Parroquias{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Parroquias</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Parroquias</li>
          <li class="breadcrumb-item active">Gestión de Parroquias</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 


{% block content %}

<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Parroquia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for parroquia in registros %}
            <tr>
                <td>{{ parroquia.co_pquia }}</td>
                <td>{{ parroquia.des_pquia }}</td>
                <td>{{ parroquia.estado }}</td>
                <td>{{ parroquia.municipio }}</td>
                <td class="text-center">
                    {% if parroquia.status %}
                    <span class="badge bg-success color-palette">Activo</span>
                    {% else %}
                    <span class="badge bg-secondary">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#editModal" 
                            data-co-parroquia="{{ parroquia.co_pquia }}"
                            data-des-parroquia="{{ parroquia.des_pquia }}"
                            data-estado="{{ parroquia.estado.co_edo }}"
                            data-municipio="{{ parroquia.municipio.co_mpo }}"
                            data-stats="{{ parroquia.status }}">
                            <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" 
                            data-target="#deleteModal" 
                            data-codigo="{{ parroquia.co_pquia }}" 
                            data-nombre="{{ parroquia.des_pquia }}">
                            <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo parroquia -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="createModalLabel">Agregar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">                                
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="status" checked>
                            <label class="custom-control-label" for="customSwitch1">Activo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="co_pquia">Código</label>
                        <input type="text" class="form-control" id="co_pquia" name="co_pquia" required>
                    </div>
                    <div class="form-group">
                        <label for="des_pquia">Nombre</label>
                        <input type="text" class="form-control" id="des_pquia" name="des_pquia" required>
                    </div>
                    <div class="form-group">
                        <label for="estado" class="form-label">Estado</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="estado" name="estado" required onchange="cargarMunicipios()" aria-label="estado">
                                <option value="" disabled selected>Seleccione un Estado</option>
                                {% for estado in estados %}
                                    <option value="{{ estado.co_edo }}" {% if object.estado.co_edo == estado.co_edo %}selected{% endif %}>
                                        {{ estado.co_edo }} - {{ estado.des_edo }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay estados disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="municipio" class="form-label">Municipio</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="municipio" name="municipio" required aria-label="municipio">
                              <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Municipio</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un parroquia -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel">Editar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="edit-status" name="status" {% if parroquia.status %}checked{% endif %}>
                            <label class="custom-control-label" for="edit-status">Activo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-code">Código</label>
                        <input type="text" class="form-control" id="edit-code" name="co_pquia" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-nombre">Nombre</label>
                        <input type="text" class="form-control" id="edit-nombre" name="des_pquia" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-estado" class="form-label">Estado</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="edit-estado" name="estado" required onchange="cargarMunicipios('edit')" aria-label="estado">
                                <option value="" disabled selected>Seleccione un Estado</option>
                                {% for estado in estados %}
                                    <option value="{{ estado.co_edo }}" {% if object.estado.co_edo == estado.co_edo %}selected{% endif %}>
                                        {{ estado.co_edo }} - {{ estado.des_edo }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay estados disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-municipio" class="form-label">Municipio</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="edit-municipio" name="municipio" required aria-label="municipio">
                                <option value="" disabled>Seleccione un municipio</option>
                                {% for municipio in municipios %}
                                    <option value="{{ municipio.co_mpo }}" {% if municipio.co_mpo == object.municipio.co_mpo %}selected{% endif %}>
                                        {{ municipio.co_mpo }} - {{ municipio.des_mpo }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay municipios disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un parroquia -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el parroquia "<span id="delete-des_pquia"></span>"?</p>
                    <input type="hidden" id="delete-co_pquia" name="co_pquia">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- Bootstrap Switch -->
    <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
    <!-- Select2 -->
    <script src="{% static '3atech/plugins/select2/js/select2.full.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
   
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
    // Script para manejar la carga de datos en los modales
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var co_pquia = button.data('coParroquia');
        var des_pquia = button.data('desParroquia');
        var estado = button.data('estado');
        var municipio = button.data('municipio');
        var status = button.data('stats') === 'True' || button.data('stats') === true;

        var modal = $(this);
        modal.find('#edit-code').val(co_pquia);
        modal.find('#edit-nombre').val(des_pquia);
        
        // Verificar si el estado existe antes de cargar
        if (estado) {
            modal.find('#edit-estado').val(estado).trigger('change');
            cargarMunicipios('edit').then(() => {
                if (municipio) {
                    modal.find('#edit-municipio').val(municipio).trigger('change');
                }
            });
        } else {
            console.error('No se encontró el estado');
            modal.find('#edit-municipio').html('<option value="">No hay municipios disponibles</option>');
        }
        
        modal.find('#edit-status').prop('checked', status);
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var codigo = button.data('codigo');
        var nombre = button.data('nombre');
                
        var modal = $(this);
        modal.find('#delete-co_pquia').val(codigo);
        modal.find('#delete-des_pquia').text(nombre);
    });

    // Script para manejar la creación de un nuevo parroquia
    $('#createForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        $.ajax({
            type: 'POST',
            url: '/parroquias/crear/', // URL para crear un parroquia
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken // Incluye el token CSRF
            },
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('createModal');
                    $('#createModal').modal('hide');
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                // Manejar errores
                let errorMessage = 'Ocurrió un error.';

                // Verifica si el error es por CSRF
                if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                }

                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la actualización de un parroquia
    $('#editForm').on('submit', function (event) {
        event.preventDefault();
        var codigo = $('#edit-code').val();
        
        // Crear el objeto con los datos del formulario
        const formData = {
            'co_pquia': $('#edit-code').val(),
            'des_pquia': $('#edit-nombre').val(),
            'estado': $('#edit-estado').val(),
            'municipio': $('#edit-municipio').val(),
            'status': $('#edit-status').is(':checked')
        };

        $.ajax({
            type: 'PUT',
            url: `/parroquias/${codigo}/editar/`,
            data: JSON.stringify(formData),
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia actualizada correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('editModal');
                    $('#editModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al actualizar la parroquia.';
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    errorMessage = xhr.responseJSON.error;
                } else if (xhr.responseText) {
                    errorMessage = xhr.responseText;
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la eliminación de un parroquia
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        var id = $('#delete-co_pquia').val(); // Obtener el ID del parroquia
        $.ajax({
            type: 'DELETE',
            url: '/parroquias/' + id + '/eliminar/', // URL para eliminar un parroquia
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('deleteModal');
                    $('#deleteModal').modal('hide');
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                 // Manejar errores
                 let errorMessage = 'Ocurrió un error.';

                 // Verifica si el error es por CSRF
                 if (xhr.responseJSON && xhr.responseJSON.detail) {
                     errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                 }
 
                 Swal.fire({
                     title: 'Error!',
                     text: errorMessage,
                     type: 'error',
                     confirmButtonText: 'Aceptar'
                 });
            }
        });
    });

    <!-- Obtener el token CSRF de la cookie -->
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Verifica si este es el cookie que buscamos
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

// Incluir el token CSRF en los encabezados de la solicitud AJAX
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Si no es una solicitud a otro dominio, agrega el token CSRF
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function() {
    $('#municipio').select2bs4({
        placeholder: "Seleccione un Municipio",
        allowClear: true
    });
});
</script>

<script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()
  
      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
  
    })

    function cargarMunicipios(modalType = 'create') {
        const estadoId = document.getElementById(modalType === 'create' ? 'estado' : 'edit-estado').value;
        return fetch(`/api/municipios/?estado=${estadoId}`)
            .then(response => response.json())
            .then(data => {
                const municipioSelect = document.getElementById(modalType === 'create' ? 'municipio' : 'edit-municipio');
                municipioSelect.innerHTML = '<option value="" disabled selected>Seleccione un Municipio</option>';
                data.forEach(municipio => {
                    municipioSelect.innerHTML += `<option value="${municipio.co_mpo}">${municipio.co_mpo} - ${municipio.des_mpo}</option>`;
                });
                return data; // Devolvemos los datos para poder usar el then
            })
            .catch(error => {
                console.error('Error al cargar los municipios:', error);
            });
    }

    // Actualizar el evento onchange en el select de estado del modal de edición
    $('#edit-estado').on('change', function() {
        cargarMunicipios('edit');
    });

    $(document).ready(function() {
        $('#estado').select2bs4({
            placeholder: "Seleccione un Estado",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#municipio').select2bs4({
            placeholder: "Seleccione un Municipio",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#edit-estado').select2bs4({
            placeholder: "Seleccione un Estado",
            allowClear: true
        });
    });

    $(document).ready(function() {
        $('#edit-municipio').select2bs4({
            placeholder: "Seleccione un Municipio",
            allowClear: true
        });
    });
</script>

<script>
    function limpiarModal(modalId) {
        // No limpiar el modal de edición si está mostrando datos
        if (modalId === 'editModal' && $('#editModal').hasClass('show')) {
            return;
        }

        const modal = document.getElementById(modalId);
        if (modal) {
            // Resetear el formulario
            const form = modal.querySelector('form');
            if (form) {
                form.reset();
            }
            
            // Limpiar selects si existen, excepto en edición
            if (modalId !== 'editModal') {
                const selects = modal.querySelectorAll('select');
                selects.forEach(select => {
                    select.innerHTML = '<option value="" disabled selected>Seleccione una opción</option>';
                });
            }
            
            // Limpiar validaciones
            const invalidElements = modal.querySelectorAll('.is-invalid');
            invalidElements.forEach(element => {
                element.classList.remove('is-invalid');
            });
            
            // Limpiar mensajes de error
            const errorMessages = modal.querySelectorAll('.invalid-feedback');
            errorMessages.forEach(message => {
                message.remove();
            });
        }
    }

    // Limpiar modal de creación al cerrarse
    $('#createModal').on('hidden.bs.modal', function () {
        limpiarModal('createModal');
    });

    // Limpiar modal de edición solo si no se está mostrando
    $('#editModal').on('hidden.bs.modal', function () {
        if (!$('#editModal').hasClass('show')) {
            limpiarModal('editModal');
        }
    });

    // Limpiar modal de eliminación al cerrarse
    $('#deleteModal').on('hidden.bs.modal', function () {
        limpiarModal('deleteModal');
    });
</script>

{% endblock scripts %}