{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Gestión de Parroquias{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Parroquias</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Parroquias</li>
          <li class="breadcrumb-item active">Gestión de Parroquias</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 


{% block content %}

<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Parroquia</th>
                <th>Municipio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for parroquia in registros %}
            <tr>
                <td>{{ parroquia.co_parroquia }}</td>
                <td>{{ parroquia.des_parroquia }}</td>
                <td>{{ parroquia.municipio }}</td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#editModal" 
                            data-co-parroquia="{{ parroquia.co_parroquia }}"
                            data-des-parroquia="{{ parroquia.des_parroquia }}"
                            data-municipio="{{ parroquia.municipio.co_municipio }}">
                            <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" 
                            data-target="#deleteModal" 
                            data-codigo="{{ parroquia.co_parroquia }}" 
                            data-nombre="{{ parroquia.des_parroquia }}">
                            <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo parroquia -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Agregar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="co_parroquia">Código</label>
                        <input type="text" class="form-control" id="co_parroquia" name="co_parroquia" required>
                    </div>
                    <div class="form-group">
                        <label for="des_parroquia">Nombre</label>
                        <input type="text" class="form-control" id="des_parroquia" name="des_parroquia" required>
                    </div>
                    <div class="form-group">
                        <label for="municipio" class="form-label">Municipio</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="municipio" name="municipio" required onchange="cargarParroquias()" aria-label="municipio">
                                <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un municipio</option>
                                {% for municipio in municipios %}
                                    <option value="{{ municipio.co_municipio }}" {% if object.municipio.co_municipio == municipio.co_municipio %}selected{% endif %}>
                                        {{ municipio.co_municipio }} - {{ municipio.des_municipio }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay municipios disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un parroquia -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="edit-code">Código</label>
                        <input type="text" class="form-control" id="edit-code" name="co_parroquia" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-nombre">Nombre</label>
                        <input type="text" class="form-control" id="edit-nombre" name="des_parroquia" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-municipio" class="form-label">Municipio</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="edit-municipio" name="municipio" required aria-label="municipio">
                                <option value="" disabled>Seleccione un municipio</option>
                                {% for municipio in municipios %}
                                    <option value="{{ municipio.co_municipio }}" {% if municipio.co_municipio == object.municipio.co_municipio %}selected{% endif %}>
                                        {{ municipio.co_municipio }} - {{ municipio.des_municipio }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay municipios disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un parroquia -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Parroquia</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el parroquia "<span id="delete-des_parroquia"></span>"?</p>
                    <input type="hidden" id="delete-co_parroquia" name="co_parroquia">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
  $(document).ready(function() {
    $('.delete-btn').on('click', function(e) {
      e.preventDefault(); // Evitar la acción por defecto del enlace

      const serialCliente = $(this).data('serial-cliente');
      const url = "{% url 'dato_delete' 'serialClientePlaceholder' %}".replace('serialClientePlaceholder', serialCliente);

      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons.fire({
        title: "¿Estás seguro?",
        text: "¡No podrás revertir esto!",
        type: "warning", 
        showCancelButton: true,
        confirmButtonText: "Sí, eliminarlo!",
        cancelButtonText: "No, cancelar!",
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = url; // Redirigir a la URL de eliminación
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          swalWithBootstrapButtons.fire({
            title: "Cancelado",
            text: "El registro está a salvo :)",
            type: "success" 
          });
        }
      });
    });
  });
</script>

<script>
    // Script para manejar la carga de datos en los modales
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var co_parroquia = button.data('coParroquia');
        var des_parroquia = button.data('desParroquia');
        var municipio = button.data('municipio');

        var modal = $(this);
        modal.find('#edit-code').val(co_parroquia);
        modal.find('#edit-nombre').val(des_parroquia);
        modal.find('#edit-municipio').val(municipio).trigger('change');
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var codigo = button.data('codigo');
        var nombre = button.data('nombre');
        
        console.log('codigo:', codigo); // Para depuración
        console.log('nombre:', nombre); // Para depuración
        
        var modal = $(this);
        modal.find('#delete-co_parroquia').val(codigo);
        modal.find('#delete-des_parroquia').text(nombre);
    });

    // Script para manejar la creación de un nuevo parroquia
    $('#createForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        $.ajax({
            type: 'POST',
            url: '/parroquias/crear/', // URL para crear un parroquia
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken // Incluye el token CSRF
            },
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                // Manejar errores
                let errorMessage = 'Ocurrió un error.';

                // Verifica si el error es por CSRF
                if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                }

                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la actualización de un parroquia
    $('#editForm').on('submit', function (event) {
        event.preventDefault();
        var codigo = $('#edit-code').val();
        
        $.ajax({
            type: 'PUT',
            url: '/parroquias/' + codigo + '/editar/',  // Ajusta esta URL según tu configuración
            data: JSON.stringify({
                'co_parroquia': $('#edit-code').val(),
                'des_parroquia': $('#edit-nombre').val(),
                'municipio': $('#edit-municipio').val()
            }),
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia actualizado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al actualizar la parroquia.';
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    errorMessage = xhr.responseJSON.error;
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la eliminación de un parroquia
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        var id = $('#delete-co_parroquia').val(); // Obtener el ID del parroquia
        $.ajax({
            type: 'DELETE',
            url: '/parroquias/' + id + '/eliminar/', // URL para eliminar un parroquia
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Parroquia eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                 // Manejar errores
                 let errorMessage = 'Ocurrió un error.';

                 // Verifica si el error es por CSRF
                 if (xhr.responseJSON && xhr.responseJSON.detail) {
                     errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                 }
 
                 Swal.fire({
                     title: 'Error!',
                     text: errorMessage,
                     type: 'error',
                     confirmButtonText: 'Aceptar'
                 });
            }
        });
    });

    <!-- Obtener el token CSRF de la cookie -->
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Verifica si este es el cookie que buscamos
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

// Incluir el token CSRF en los encabezados de la solicitud AJAX
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Si no es una solicitud a otro dominio, agrega el token CSRF
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function() {
    $('#municipio').select2bs4({
        placeholder: "Seleccione un Municipio",
        allowClear: true
    });
});
</script>


{% endblock scripts %}