{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Gestión de Representantes{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Representantes</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Representantes</li>
          <li class="breadcrumb-item active">Gestión de Representantes</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock contentheader %} 

{% block content %}
<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Cédula</th>
                <th>Nacionalidad</th>
                <th>Nombre y Apellido</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for representante in registros %}
            <tr>
                <td>{{ representante.cedula }}</td>
                <td>{{ representante.nacionalidad }}</td>
                <td>{{ representante.nombre }}</td>
                <td>
                    <button class="btn btn-warning" data-toggle="modal" data-target="#editModal" 
                    data-cedula="{{ representante.cedula }}" 
                    data-nombre="{{ representante.nombre }}" 
                    data-nacionalidad="{{ representante.nacionalidad }}" 
                    data-representante="{{ representante.representante }}" 
                    data-condicion="{{ representante.condicion }}">
                        <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{ representante.cedula }}" data-nombre="{{ representante.nombre }}">
                        <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo representante -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="createModalLabel">Agregar Representante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="inactivo" class="form-label">Activo/Inactivo</label>
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" name="inactivo"
                                {% if object.inactivo %} checked {% endif %}>
                                <label class="custom-control-label" for="customSwitch3" id="switchLabel"> 
                                    {% if not object.inactivo %} Inactivo {% else %} Activo {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-6">
                            <label for="cedula" class="form-label">Cédula</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-light fa-address-card"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask='"mask": "[E|V]-99.999.999"' data-mask
                                    id="cedula" name="cedula" value="{{ object.cedula|default:'' }}" required aria-label="Cédula">
                            </div>
                        </div>             
                        <div class="col-md-6">
                            <label for="nacionalidad" class="form-label">Nacionalidad</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-network-chart' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="nacionalidad" name="nacionalidad" 
                                    value="{{ object.nacionalidad|default:'' }}" required 
                                    aria-label="Nacionalidad" placeholder="Nacionalidad">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="nombre" class="form-label">Nombre y Apellido</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-user-rectangle' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="nombre" name="nombre" 
                                    value="{{ object.nombre|default:'' }}" required 
                                    aria-label="Nombre y Apellido" placeholder="Nombre y Apellido">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="representante" class="form-label">Representante de</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-business' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="representante" name="representante" 
                                    value="{{ object.representante|default:'' }}" required 
                                    aria-label="Representante de" placeholder="Empresa">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="condicion" class="form-label">Condición</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-briefcase'></i></span>
                                </div>
                                <input type="text" class="form-control" id="condicion" name="condicion" 
                                    value="{{ object.condicion|default:'' }}" required 
                                    aria-label="Condición" placeholder="Cargo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un representante -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Representante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-customSwitch3" class="form-label">Activo/Inactivo</label>
                            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                <input type="checkbox" class="custom-control-input" id="edit-customSwitch3" name="inactivo"
                                {% if object.inactivo %} checked {% endif %}>
                                <label class="custom-control-label" for="edit-customSwitch3" id="switchLabel"> 
                                    {% if not object.inactivo %} Activo {% else %} Inactivo {% endif %}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-6">
                            <label for="edit-cedula" class="form-label">Cédula</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-light fa-address-card"></i></span>
                                </div>
                                <input type="text" class="form-control" data-inputmask='"mask": "[E|V]-99.999.999"' data-mask
                                    id="edit-cedula" name="cedula" value="{{ object.cedula|default:'' }}" readonly required aria-label="Cédula">
                            </div>
                        </div>             
                        <div class="col-md-6">
                            <label for="edit-nacionalidad" class="form-label">Nacionalidad</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-network-chart' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="edit-nacionalidad" name="nacionalidad" 
                                    value="{{ object.nacionalidad|default:'' }}" required 
                                    aria-label="Nacionalidad" placeholder="Nacionalidad">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-nombre" class="form-label">Nombre y Apellido</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-user-rectangle' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="edit-nombre" name="nombre" 
                                    value="{{ object.nombre|default:'' }}" required 
                                    aria-label="Nombre y Apellido" placeholder="Nombre y Apellido">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-representante" class="form-label">Representante de</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-business' ></i></span>
                                </div>
                                <input type="text" class="form-control" id="edit-representante" name="representante" 
                                    value="{{ object.representante|default:'' }}" required 
                                    aria-label="Representante de" placeholder="Empresa">
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-condicion" class="form-label">Condición</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-briefcase'></i></span>
                                </div>
                                <input type="text" class="form-control" id="edit-condicion" name="condicion" 
                                    value="{{ object.condicion|default:'' }}" required 
                                    aria-label="Condición" placeholder="Cargo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un representante -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Representante</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el representante "<span id="delete-representante-name"></span>"?</p>
                    <input type="hidden" id="delete-id" name="cedula">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
  });
</script>

<script>
    $(function () {
      $('[data-mask]').inputmask();

      $("input[data-bootstrap-switch]").each(function () {
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      });

  });
</script>

<script>
    // Script para manejar la carga de datos en los modales
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var inactivo = button.data('inactivo');
        var cedula = button.data('cedula');
        var nacionalidad = button.data('nacionalidad');
        var nombre = button.data('nombre');
        var representante = button.data('representante');
        var condicion = button.data('condicion');
        var modal = $(this);
        modal.find('#edit-inactivo').val(inactivo); // Cargar inactivo
        modal.find('#edit-cedula').val(cedula); // Cargar cédula
        modal.find('#edit-nacionalidad').val(nacionalidad); // Cargar nacionalidad
        modal.find('#edit-nombre').val(nombre); // Cargar nombre
        modal.find('#edit-representante').val(representante); // Cargar representante
        modal.find('#edit-condicion').val(condicion); // Cargar condición

        // Cargar estado del campo inactivo
        if (inactivo) {
            modal.find('#edit-inactivo').prop('checked', true);
        } else {
            modal.find('#edit-inactivo').prop('checked', false);
        }
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var nombre = button.data('nombre');
        var modal = $(this);
        modal.find('#delete-id').val(id);
        modal.find('#delete-ambiente-name').text(nombre);
    });

    // Script para manejar la creación de un nuevo ambiente
    $('#createForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        $.ajax({
            type: 'POST',
            url: '/representantes/crear/', // URL para crear un ambiente
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken // Incluye el token CSRF
            },
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Representante creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                // Manejar errores
                let errorMessage = 'Ocurrió un error.';

                // Verifica si el error es por CSRF
                if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                }

                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la actualización de un ambiente
    $('#editForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        var cedula = $('#edit-cedula').val(); // Obtener el ID del ambiente
        $.ajax({
            type: 'PUT',
            url: '/representantes/' + cedula + '/editar/', // URL para editar un ambiente
            data: $(this).serialize(),
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Representante actualizado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                // Manejar errores
                let errorMessage = 'Ocurrió un error.';

                // Verifica si el error es por CSRF
                if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                }

                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la eliminación de un ambiente
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault(); // Evita el envío normal del formulario
        var id = $('#delete-id').val(); // Obtener el ID del ambiente
        $.ajax({
            type: 'DELETE',
            url: '/ambientes/' + id + '/eliminar/', // URL para eliminar un ambiente
            success: function (response) {
                // Manejar la respuesta exitosa
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Ambiente eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload(); // Recargar la página para ver los cambios
                });
            },
            error: function (xhr) {
                 // Manejar errores
                 let errorMessage = 'Ocurrió un error.';

                 // Verifica si el error es por CSRF
                 if (xhr.responseJSON && xhr.responseJSON.detail) {
                     errorMessage = xhr.responseJSON.detail; // Obtiene el mensaje de error
                 }
 
                 Swal.fire({
                     title: 'Error!',
                     text: errorMessage,
                     type: 'error',
                     confirmButtonText: 'Aceptar'
                 });
            }
        });
    });

    <!-- Obtener el token CSRF de la cookie -->
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Verifica si este es el cookie que buscamos
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');

// Incluir el token CSRF en los encabezados de la solicitud AJAX
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Si no es una solicitud a otro dominio, agrega el token CSRF
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>

<script>
    // Cambiar el texto del label según el estado del checkbox
    $('#customSwitch3').change(function() {
        if ($(this).is(':checked')) {
            $('#switchLabel').text('Activo');
        } else {
            $('#switchLabel').text('Inactivo');
        }
    });

    $('#edit-customSwitch3').change(function() {
        if ($(this).is(':checked')) {
            $('#switchLabel').text('Activo');
        } else {
            $('#switchLabel').text('Inactivo');
        }
    });
</script>

{% endblock scripts %} 