{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Gestión de Sectores{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Sectores</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Sectores</li>
          <li class="breadcrumb-item active">Gestión de Sectores</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 


{% block content %}

<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Sector</th>
                <th>Parroquia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sector in registros %}
            <tr>
                <td>{{ sector.co_sec }}</td>
                <td>{{ sector.des_sec }}</td>
                <td>{{ sector.parroquia.des_pquia }}</td>
                <td class="text-center">
                    {% if municipio.status %}
                    <span class="badge bg-success color-palette">Activo</span>
                    {% else %}
                    <span class="badge bg-secondary">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#editModal" 
                            data-co-sec="{{ sector.co_sec }}"
                            data-des-sec="{{ sector.des_sec }}"
                            data-parroquia="{{ sector.parroquia.co_pquia }}"
                            data-stats="{{ sector.status }}">
                            <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" 
                            data-target="#deleteModal" 
                            data-codigo="{{ sector.co_sec }}" 
                            data-nombre="{{ sector.des_sec }}">
                            <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo sector -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="createModalLabel">Agregar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">                                
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="status" checked>
                            <label class="custom-control-label" for="customSwitch1">Activo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="co_sec">Código</label>
                        <input type="text" class="form-control" id="co_sec" name="co_sec" required>
                    </div>
                    <div class="form-group">
                        <label for="des_sec">Nombre</label>
                        <input type="text" class="form-control" id="des_sec" name="des_sec" required>
                    </div>
                    <div class="form-group">
                        <label for="parroquia" class="form-label">Parroquia</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="parroquia" name="parroquia" required onchange="cargarSectors()" aria-label="parroquia">
                                <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un parroquia</option>
                                {% for parroquia in parroquias %}
                                    <option value="{{ parroquia.co_pquia }}" {% if object.parroquia.co_pquia == parroquia.co_pquia %}selected{% endif %}>
                                        {{ parroquia.co_pquia }} - {{ parroquia.des_pquia }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay parroquias disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un sector -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel">Editar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="edit-status" name="status" {% if municipio.status %}checked{% endif %}>
                            <label class="custom-control-label" for="edit-status">Activo</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="edit-code">Código</label>
                        <input type="text" class="form-control" id="edit-code" name="co_sec" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="edit-nombre">Nombre</label>
                        <input type="text" class="form-control" id="edit-nombre" name="des_sec" required>
                    </div>
                    <div class="form-group">
                        <label for="edit-parroquia" class="form-label">Parroquia</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                            </div>
                            <select class="form-control select2bs4" id="edit-parroquia" name="parroquia" required aria-label="parroquia">
                                <option value="" disabled>Seleccione un parroquia</option>
                                {% for parroquia in parroquias %}
                                    <option value="{{ parroquia.co_pquia }}" {% if parroquia.co_pquia == object.parroquia.co_pquia %}selected{% endif %}>
                                        {{ parroquia.co_pquia }} - {{ parroquia.des_pquia }}
                                    </option>
                                {% empty %}
                                    <option value="">No hay parroquias disponibles</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un sector -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el sector "<span id="delete-des_sec"></span>"?</p>
                    <input type="hidden" id="delete-co_sec" name="co_sec">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: false,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
    // Script para manejar la carga de datos en el modal de edición
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var co_sec = button.data('co-sec');
        var des_sec = button.data('des-sec');
        var parroquia = button.data('parroquia');
        var status = button.data('stats') === 'True' || button.data('stats') === true; // Asegurar valor booleano


        var modal = $(this);
        modal.find('#edit-code').val(co_sec);
        modal.find('#edit-nombre').val(des_sec);
        modal.find('#edit-parroquia').val(parroquia).trigger('change');
        modal.find('#edit-status').prop('checked', status); // Establecer estado del switch

    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var codigo = button.data('codigo');
        var nombre = button.data('nombre');
                
        var modal = $(this);
        modal.find('#delete-co_sec').val(codigo);
        modal.find('#delete-des_sec').text(nombre);
    });

    // Función para manejar la creación de un sector
    $('#createForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/sectores/crear/',
            data: $(this).serialize(),
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Sector creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al crear el sector.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    // Mostrar errores específicos del formulario
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Función para manejar la edición de un sector
    $('#editForm').on('submit', function (event) {
        event.preventDefault();
        var codigo = $('#edit-code').val();
        
        $.ajax({
            type: 'PUT',
            url: '/sectores/' + codigo + '/editar/',
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Sector actualizado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al actualizar el sector.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    // Mostrar errores específicos del formulario
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                } else if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail;
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Función para manejar la eliminación de un sector
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault();
        var id = $('#delete-co_sec').val();
        $.ajax({
            type: 'DELETE',
            url: '/sectores/' + id + '/eliminar/',
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Sector eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al eliminar el sector.';
                if (xhr.responseJSON) {
                    // Mostrar errores específicos
                    if (xhr.responseJSON.detail) {
                        errorMessage = xhr.responseJSON.detail;
                    } else if (xhr.responseJSON.error) {
                        errorMessage = xhr.responseJSON.error;
                    }
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    icon: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Obtener el token CSRF de la cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Incluir el token CSRF en los encabezados de la solicitud AJAX
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Si no es una solicitud a otro dominio, agrega el token CSRF
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function() {
        $('#parroquia').select2bs4({
            placeholder: "Seleccione un Parroquia",
            allowClear: true
        });
    });
</script>

<script>
    function limpiarModal(modalId) {
        // No limpiar el modal de edición si está mostrando datos
        if (modalId === 'editModal' && $('#editModal').hasClass('show')) {
            return;
        }

        const modal = document.getElementById(modalId);
        if (modal) {
            // Resetear el formulario
            const form = modal.querySelector('form');
            if (form) {
                form.reset();
            }
            
            // Limpiar selects si existen, excepto en edición
            if (modalId !== 'editModal') {
                const selects = modal.querySelectorAll('select');
                selects.forEach(select => {
                    select.innerHTML = '<option value="" disabled selected>Seleccione una opción</option>';
                });
            }
            
            // Limpiar validaciones
            const invalidElements = modal.querySelectorAll('.is-invalid');
            invalidElements.forEach(element => {
                element.classList.remove('is-invalid');
            });
            
            // Limpiar mensajes de error
            const errorMessages = modal.querySelectorAll('.invalid-feedback');
            errorMessages.forEach(message => {
                message.remove();
            });
        }
    }

    // Limpiar modal de creación al cerrarse
    $('#createModal').on('hidden.bs.modal', function () {
        limpiarModal('createModal');
    });

    // Limpiar modal de edición solo si no se está mostrando
    $('#editModal').on('hidden.bs.modal', function () {
        if (!$('#editModal').hasClass('show')) {
            limpiarModal('editModal');
        }
    });

    // Limpiar modal de eliminación al cerrarse
    $('#deleteModal').on('hidden.bs.modal', function () {
        limpiarModal('deleteModal');
    });
</script>

{% endblock scripts %}