{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
{% endblock extrahead %} 

{% block title %}Gestión de Sectores{% endblock title %} 

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Sectores</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Sectores</li>
          <li class="breadcrumb-item active">Gestión de Sectores</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
{% endblock contentheader %} 


{% block content %}

<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Parroquia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for sector in registros %}
            <tr>
                <td>{{ sector.des_sec }}</td>
                <td>{{ sector.parroquia.des_pquia }}</td>
                <td>{{ sector.municipio.des_mpo }}</td>
                <td>{{ sector.estado.des_edo }}</td>
                <td class="text-center">
                    {% if sector.status %}
                    <span class="badge bg-success color-palette">Activo</span>
                    {% else %}
                    <span class="badge bg-secondary">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#editModal" 
                            data-id="{{ sector.id }}"
                            data-des-sec="{{ sector.des_sec }}"
                            data-estado="{{ sector.estado.co_edo }}"
                            data-municipio="{{ sector.municipio.co_mpo }}"
                            data-parroquia="{{ sector.parroquia.co_pquia }}"
                            data-status="{{ sector.status }}">
                            <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" 
                            data-target="#deleteModal" 
                            data-codigo="{{ sector.id }}" 
                            data-nombre="{{ sector.des_sec }}">
                            <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo sector -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="createModalLabel">Agregar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">                                                           
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="status" checked>
                                <label class="custom-control-label" for="customSwitch1">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="des_sec">Nombre</label>
                            <input type="text" class="form-control" id="des_sec" name="des_sec" required>
                        </div>
                    </div>    
                    <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="estado" class="form-label">Estado</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                              </div>
                              <select class="form-control select2bs4" id="estado" name="estado" required onchange="cargarMunicipios()" aria-label="estado">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Estado</option>
                                  {% for estado in estados %}
                                      <option value="{{ estado.co_edo  }}" {% if object.estado.co_edo  == estado.co_edo  %}selected{% endif %}>
                                          {{ estado.co_edo  }} - {{ estado.des_edo  }}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay estados disponibles</option>
                                  {% endfor %}
                                </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <label for="municipio" class="form-label">Municipio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2bs4" id="municipio" name="municipio" required onchange="cargarParroquias()" aria-label="municipio">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Municipio</option>
                                  {% for municipio in municipios %}
                                      <option value="{{ municipio.co_mpo }}" {% if object.municipio.co_mpo == municipio.co_mpo %}selected{% endif %}>
                                          {{ municipio.co_mpo }} - {{ municipio.des_mpo }}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay municipios disponibles</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="parroquia" class="form-label">Parroquia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2bs4" id="parroquia" name="parroquia" required aria-label="parroquia">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione una Parroquia</option>
                                  {% for parroquia in parroquias %}
                                      <option value="{{ parroquia.co_pquia}}" {% if object.parroquia.co_pquia == parroquia.co_pquia%}selected{% endif %}>
                                          {{ parroquia.co_pquia}} - {{ parroquia.des_pquia}}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay parroquias disponibles</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un sector -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel">Editar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-id" name="id">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="edit-status" name="status" {% if sector.status %}checked{% endif %}>
                                <label class="custom-control-label" for="edit-status">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="edit-des_sec">Nombre</label>
                            <input type="text" class="form-control" id="edit-des_sec" name="des_sec" required>
                        </div>
                    </div>    
                    <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="edit-estado" class="form-label">Estado</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                              </div>
                              <select class="form-control select2bs4" id="edit-estado" name="estado" required onchange="cargarMunicipios()" aria-label="estado">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Estado</option>
                                  {% for estado in estados %}
                                      <option value="{{ estado.co_edo  }}" {% if object.estado.co_edo  == estado.co_edo  %}selected{% endif %}>
                                          {{ estado.co_edo  }} - {{ estado.des_edo  }}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay estados disponibles</option>
                                  {% endfor %}
                                </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <label for="edit-municipio" class="form-label">Municipio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2bs4" id="edit-municipio" name="municipio" required onchange="cargarParroquias()" aria-label="municipio">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Municipio</option>
                                  {% for municipio in municipios %}
                                      <option value="{{ municipio.co_mpo }}" {% if object.municipio.co_mpo == municipio.co_mpo %}selected{% endif %}>
                                          {{ municipio.co_mpo }} - {{ municipio.des_mpo }}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay municipios disponibles</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="edit-parroquia" class="form-label">Parroquia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2bs4" id="edit-parroquia" name="parroquia" required aria-label="parroquia">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione una Parroquia</option>
                                  {% for parroquia in parroquias %}
                                      <option value="{{ parroquia.co_pquia}}" {% if object.parroquia.co_pquia == parroquia.co_pquia%}selected{% endif %}>
                                          {{ parroquia.co_pquia}} - {{ parroquia.des_pquia}}
                                      </option>
                                  {% empty %}
                                      <option value="">No hay parroquias disponibles</option>
                                  {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un sector -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Sector</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Estás seguro de que deseas eliminar el sector "<span id="delete-des_sec"></span>"?</p>
                    <input type="hidden" id="delete-id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <!-- Bootstrap Switch -->
  <script src="{% static '3atech/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>

<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>

<!-- Page JS -->
<script src="{% static '3atech/js/ui-modals.js' %}"></script>

<!-- page script -->
<script>
  $(function () {
    $("#example1").DataTable({
      responsive: true,
      autoWidth: true,
      language: {
        sProcessing: "Procesando...",
        sLengthMenu: "Mostrar _MENU_ registros",
        sZeroRecords: "No se encontraron registros",
        sEmptyTable: "No hay datos disponibles en la tabla",
        sInfo:
          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
        sInfoPostFix: "",
        sSearch: "Buscar:",
        sUrl: "",
        sInfoThousands: ",",
        sLoadingRecords: "Cargando...",
        oPaginate: {
          sFirst: "Primero",
          sLast: "Último",
          sNext: "Siguiente",
          sPrevious: "Anterior",
        },
        oAria: {
          sSortAscending:
            ": Activar para ordenar la columna de manera ascendente",
          sSortDescending:
            ": Activar para ordenar la columna de manera descendente",
        },
      },
    });
  });
</script>

<script type="text/javascript">
  $(function () {
    {% for message in messages %}
          var messageType = "{{ message.tags }}"; // Obtiene el tipo de mensaje
          var messageText = "{{ message }}"; // Obtiene el texto del mensaje

          if (messageType === 'success') {
              Swal.fire({        
                type: 'success',
                title: 'Éxito!',
                text: messageText,   
                showConfirmButton: false,   
                timer: 3000,  
            });
          }
      {% endfor %}
  });
</script>

<script>
    // Script para manejar la carga de datos en el modal de edición
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var des_sec = button.data('des-sec');
        var estado = button.data('estado');
        var municipio = button.data('municipio');
        var parroquia = button.data('parroquia');
        var status = button.data('status') === 'True' || button.data('status') === true;

        var modal = $(this);
        modal.find('#edit-id').val(id);
        modal.find('#edit-des_sec').val(des_sec);
        
        // Inicializar select2 para el estado si aún no está inicializado
        if (!$('#edit-estado').data('select2')) {
            $('#edit-estado').select2({
                placeholder: "Seleccione un Estado",
                allowClear: true
            });
        }
        
        // Establecer el valor del estado
        $('#edit-estado').val(estado).trigger('change');
        
        // Almacenar los valores seleccionados como datos del elemento
        modal.find('#edit-municipio').data('selected', municipio);
        modal.find('#edit-parroquia').data('selected', parroquia);
        
        // Cargar municipios y parroquias en cascada
        cargarMunicipiosEdicion(estado, municipio, parroquia);
        
        modal.find('#edit-status').prop('checked', status); 
    });

       // Función para manejar la creación de un sector
    $('#createForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/sectores/crear/',
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Sector creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('createModal');
                    $('#createModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al crear el sector.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Función para manejar la edición de un sector
    $('#editForm').on('submit', function (event) {
        event.preventDefault();
        var codigo = $('#edit-id').val();
        
        $.ajax({
            type: 'PUT',
            url: '/sectores/' + codigo + '/editar/',
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: 'Sector actualizado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('editModal');
                    $('#editModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al actualizar el sector.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                } else if (xhr.responseJSON && xhr.responseJSON.detail) {
                    errorMessage = xhr.responseJSON.detail;
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var codigo = button.data('codigo');
        var nombre = button.data('nombre');
                
        var modal = $(this);
        modal.find('#delete-id').val(codigo);
        modal.find('#delete-des_sec').text(nombre);
    });
    
    // Función para manejar la eliminación de un sector
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault();
        var id = $('#delete-id').val();
        $.ajax({
            type: 'DELETE',
            url: '/sectores/' + id + '/eliminar/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: response.message || 'Sector eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('deleteModal');
                    $('#deleteModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error.';
                
                if (xhr.responseJSON) {
                    if (xhr.responseJSON.error === 'protected_relation') {
                        errorMessage = xhr.responseJSON.message;
                    } else if (xhr.responseJSON.error === 'not_found') {
                        errorMessage = xhr.responseJSON.message;
                    } else if (xhr.responseJSON.message) {
                        errorMessage = xhr.responseJSON.message;
                    }
                }

                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Obtener el token CSRF de la cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Incluir el token CSRF en los encabezados de la solicitud AJAX
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function() {
        // Inicializar select2 para todos los selectores necesarios
        $('.select2bs4').each(function() {
            $(this).select2({
                theme: 'bootstrap4',
                placeholder: "Seleccione una opción",
                allowClear: true
            });
        });
    });
</script>

<script>
    function limpiarModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            // Resetear el formulario
            const form = modal.querySelector('form');
            if (form) {
                form.reset();
            }
            
            // Limpiar select2 si existen
            $(modal).find('.select2bs4').each(function() {
                $(this).val('').trigger('change');
            });
            
            // Limpiar validaciones
            const invalidElements = modal.querySelectorAll('.is-invalid');
            invalidElements.forEach(element => {
                element.classList.remove('is-invalid');
            });
            
            // Limpiar mensajes de error
            const errorMessages = modal.querySelectorAll('.invalid-feedback');
            errorMessages.forEach(message => {
                message.remove();
            });
        }
    }

    // Limpiar modal de creación al cerrarse
    $('#createModal').on('hidden.bs.modal', function () {
        limpiarModal('createModal');
    });

    // Limpiar modal de edición al cerrarse
    $('#editModal').on('hidden.bs.modal', function () {
        limpiarModal('editModal');
    });

    // Limpiar modal de eliminación al cerrarse
    $('#deleteModal').on('hidden.bs.modal', function () {
        limpiarModal('deleteModal');
    });

    function cargarMunicipiosEdicion(estadoId, municipioId, parroquiaId) {
        fetch(`/api/municipios/?estado=${estadoId}`)
            .then(response => response.json())
            .then(data => {
                const municipioSelect = document.getElementById('edit-municipio');
                municipioSelect.innerHTML = '<option value="" disabled>Seleccione un Municipio</option>';
                data.forEach(municipio => {
                    municipioSelect.innerHTML += `<option value="${municipio.co_mpo}">${municipio.co_mpo} - ${municipio.des_mpo}</option>`;
                });
                
                // Establecer el municipio seleccionado
                municipioSelect.value = municipioId;
                
                // Cargar las parroquias correspondientes
                cargarParroquiasEdicion(municipioId, parroquiaId);
            })
            .catch(error => {
                console.error('Error al cargar los municipios:', error);
            });
    }

    function cargarParroquiasEdicion(municipioId, parroquiaId) {
        fetch(`/api/parroquias?municipio=${municipioId}`)
            .then(response => response.json())
            .then(data => {
                const parroquiaSelect = document.getElementById('edit-parroquia');
                parroquiaSelect.innerHTML = '<option value="" disabled>Seleccione una Parroquia</option>';
                data.forEach(parroquia => {
                    parroquiaSelect.innerHTML += `<option value="${parroquia.co_pquia}">${parroquia.co_pquia} - ${parroquia.des_pquia}</option>`;
                });
                
                // Establecer la parroquia seleccionada
                parroquiaSelect.value = parroquiaId;
            })
            .catch(error => {
                console.error('Error al cargar las parroquias:', error);
            });
    }

    // Modificar las funciones existentes para manejar el prefijo
    function cargarMunicipios(prefix = '') {
        const estadoId = document.getElementById(prefix + 'estado').value;
        if (prefix === 'edit-') {
            const municipioId = $('#edit-municipio').data('selected');
            const parroquiaId = $('#edit-parroquia').data('selected');
            cargarMunicipiosEdicion(estadoId, municipioId, parroquiaId);
        } else {
            // Lógica existente para el modal de creación
            fetch(`/api/municipios/?estado=${estadoId}`)
                .then(response => response.json())
                .then(data => {
                    const municipioSelect = document.getElementById(prefix + 'municipio');
                    municipioSelect.innerHTML = '<option value="" disabled selected>Seleccione un Municipio</option>';
                    data.forEach(municipio => {
                        municipioSelect.innerHTML += `<option value="${municipio.co_mpo}">${municipio.co_mpo} - ${municipio.des_mpo}</option>`;
                    });
                })
                .catch(error => {
                    console.error('Error al cargar los municipios:', error);
                });
        }
    }
</script>

{% endblock scripts %}