{% extends 'layouts/base.html' %}
{% load static %}

{% block extrahead %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}" />
<link rel="stylesheet" href="{% static '3atech/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}" />
<!-- Select2bs4 -->
<link rel="stylesheet" href="{% static '3atech/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static '3atech/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock extrahead %}

{% block title %}Gestión de Urbanismos{% endblock title %}

{% block contentheader %}
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Listado de Urbanismos</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
          <li class="breadcrumb-item">Urbanismos</li>
          <li class="breadcrumb-item active">Gestión de Urbanismos</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock contentheader %}

{% block content %}
<div class="card" style="width: 60%; margin: auto;">
    <div class="card-header d-flex justify-content-end">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createModal">
        <i class="fas fa-solid fa-plus me-1"></i>
       </button>
    </div>
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipología</th>
                <th>Sector</th>
                <th>Parroquia</th>
                <th>Municipio</th>
                <th>Estado</th>
                <th>Status</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for urbanismo in registros %}
            <tr>
                <td>{{ urbanismo.des_urb }}</td>
                <td>{{ urbanismo.tipologia.tipologia }}</td>
                <td>{{ urbanismo.sector.des_sec }}</td>
                <td>{{ urbanismo.parroquia.des_pquia }}</td>
                <td>{{ urbanismo.municipio.des_mpo }}</td>
                <td>{{ urbanismo.estado.des_edo }}</td>
                <td class="text-center">
                    {% if urbanismo.status %}
                    <span class="badge bg-success color-palette">Activo</span>
                    {% else %}
                    <span class="badge bg-secondary">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">
                    <button class="btn btn-warning" data-toggle="modal" 
                            data-target="#editModal" 
                            data-id="{{ urbanismo.id }}"
                            data-des-urb="{{ urbanismo.des_urb }}"
                            data-direccion="{{ urbanismo.direccion }}"
                            data-estado="{{ urbanismo.estado.co_edo }}"
                            data-municipio="{{ urbanismo.municipio.co_mpo }}"
                            data-parroquia="{{ urbanismo.parroquia.co_pquia }}"
                            data-sector="{{ urbanismo.sector.id }}"
                            data-status="{{ urbanismo.status }}">
                            <i class='bx bx-edit' ></i>
                    </button>
                    <button class="btn btn-danger" data-toggle="modal" 
                            data-target="#deleteModal" 
                            data-id="{{ urbanismo.id }}" 
                            data-nombre="{{ urbanismo.des_urb }}">
                            <i class='bx bx-trash' ></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>

<!-- Modal para crear un nuevo urbanismo -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="createForm">
                {% csrf_token %}
                <div class="modal-header bg-primary">
                    <h5 class="modal-title" id="createModalLabel">Agregar Urbanismo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-md-12">                                                           
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="status" checked>
                                <label class="custom-control-label" for="customSwitch1">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="des_urb" class="form-label">Nombre</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bx-message-alt-detail'></i></span>
                              </div>
                              <input type="text" class="form-control" id="des_urb" name="des_urb" 
                              aria-label="Nombre del Urbanismo" placeholder="Nombre del Urbanismo">
                            </div>
                        </div>    
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="direccion" class="form-label">Dirección</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin' ></i></span>
                              </div>
                              <textarea type="text" class="form-control" id="direccion" name="direccion" 
                              aria-label="Dirección" placeholder="Dirección"></textarea>
                            </div>
                        </div>    
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="estado" class="form-label">Estado</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                              </div>
                                <select class="form-control select2" id="estado" name="estado" 
                                        required onchange="cargarMunicipios()" 
                                        data-placeholder="Seleccione un Estado" aria-label="estado">
                                    <option value="" disabled selected>Seleccione un Estado</option>
                                    {% for estado in estados %}
                                        <option value="{{ estado.co_edo }}">{{ estado.co_edo }} - {{ estado.des_edo }}</option>
                                    {% empty %}
                                        <option value="">No hay estados disponibles</option>
                                    {% endfor %}
                                </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <label for="municipio" class="form-label">Municipio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="municipio" name="municipio" required onchange="cargarParroquias()" aria-label="municipio">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Municipio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="parroquia" class="form-label">Parroquia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="parroquia" name="parroquia" required onchange="cargarSectores()" aria-label="parroquia">
                                  <option value="" disabled {% if not object %}selected{% endif %}>Seleccione una Parroquia</option>
                                </select>
                            </div>
                        </div>
                          <div class="col-md-6">
                              <label for="sector" class="form-label">Sector</label>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                  </div>
                                  <select class="form-control select2" id="sector" name="sector" required aria-label="sector">
                                    <option value="" disabled {% if not object %}selected{% endif %}>Seleccione un Sector</option>
                                  </select>
                              </div>
                          </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="tipologia" class="form-label">Tipo de Urbanismo</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="tipologia" name="tipologia" 
                                        required 
                                        data-placeholder="Seleccione una Tipología" aria-label="Tipología">
                                    <option value="" disabled selected>Seleccione una Tipología</option>
                                    {% for tipologia in tipologias %}
                                        <option value="{{ tipologia.id }}">{{ tipologia.tipologia }}</option>
                                    {% empty %}
                                        <option value="">No hay tipología disponibles</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para editar un urbanismo -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="modal-header bg-success">
                    <h5 class="modal-title" id="editModalLabel">Editar Urbanismo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="edit-id" name="id">

                    <div class="row mb-3">
                        <div class="col-md-12">                                                           
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="edit-status" name="status">
                                <label class="custom-control-label" for="edit-status">Activo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-des_urb" class="form-label">Nombre</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bx-message-alt-detail'></i></span>
                              </div>
                              <input type="text" class="form-control" id="edit-des_urb" name="des_urb" 
                              aria-label="Nombre del Urbanismo" placeholder="Nombre del Urbanismo">
                            </div>
                        </div>    
                    </div>
                    <div class="row mb-3"> 
                        <div class="col-md-12">
                            <label for="edit-direccion" class="form-label">Dirección</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class='bx bxs-map-pin' ></i></span>
                              </div>
                              <textarea type="text" class="form-control" id="edit-direccion" name="direccion" 
                              aria-label="Dirección" placeholder="Dirección"></textarea>
                            </div>
                        </div>    
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="edit-estado" class="form-label">Estado</label>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                              </div>
                                <select class="form-control select2" id="edit-estado" name="estado" 
                                        required onchange="cargarMunicipios('edit-')" 
                                        data-placeholder="Seleccione un Estado" aria-label="estado">
                                    <option value="" disabled>Seleccione un Estado</option>
                                    {% for estado in estados %}
                                        <option value="{{ estado.co_edo }}">{{ estado.co_edo }} - {{ estado.des_edo }}</option>
                                    {% empty %}
                                        <option value="">No hay estados disponibles</option>
                                    {% endfor %}
                                </select>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <label for="edit-municipio" class="form-label">Municipio</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="edit-municipio" name="municipio" 
                                        required onchange="cargarParroquias('edit-')" 
                                        data-placeholder="Seleccione un Municipio" aria-label="municipio">
                                  <option value="" disabled>Seleccione un Municipio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="edit-parroquia" class="form-label">Parroquia</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="edit-parroquia" name="parroquia" 
                                        required onchange="cargarSectores('edit-')" 
                                        data-placeholder="Seleccione una Parroquia" aria-label="parroquia">
                                  <option value="" disabled>Seleccione una Parroquia</option>
                                </select>
                            </div>
                        </div>
                          <div class="col-md-6">
                              <label for="edit-sector" class="form-label">Sector</label>
                              <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                      <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                  </div>
                                  <select class="form-control select2" id="edit-sector" name="sector" 
                                          required data-placeholder="Seleccione un Sector" aria-label="sector">
                                    <option value="" disabled>Seleccione un Sector</option>
                                  </select>
                              </div>
                          </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="edit-tipologia" class="form-label">Tipo de Urbanismo</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class='bx bxs-map-pin'></i></span>
                                </div>
                                <select class="form-control select2" id="edit-tipologia" name="tipologia" 
                                        required 
                                        data-placeholder="Seleccione una Tipología" aria-label="Tipología">
                                    <option value="" disabled selected>Seleccione una Tipología</option>
                                    {% for tipologia in tipologias %}
                                        <option value="{{ tipologia.id }}">{{ tipologia.tipologia }}</option>
                                    {% empty %}
                                        <option value="">No hay tipología disponibles</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal para eliminar un urbanismo -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-header bg-danger">
                    <h5 class="modal-title" id="deleteModalLabel">Eliminar Urbanismo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>¿Está seguro de eliminar el urbanismo <strong id="delete-nombre"></strong>?</p>
                    <input type="hidden" id="delete-id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<!-- jQuery -->
<script src="{% static '3atech/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static '3atech/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables -->
<script src="{% static '3atech/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static '3atech/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- Select2bs4 -->
<script src="{% static '3atech/plugins/select2/js/select2.full.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static '3atech/dist/js/adminlte.min.js' %}"></script>

<script>
    $(function () {
        $("#example1").DataTable({
            responsive: true,
            autoWidth: false,
            language: {
              sProcessing: "Procesando...",
              sLengthMenu: "Mostrar _MENU_ registros",
              sZeroRecords: "No se encontraron registros",
              sEmptyTable: "No hay datos disponibles en la tabla",
              sInfo:
                "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
              sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
              sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
              sInfoPostFix: "",
              sSearch: "Buscar:",
              sUrl: "",
              sInfoThousands: ",",
              sLoadingRecords: "Cargando...",
              oPaginate: {
                sFirst: "Primero",
                sLast: "Último",
                sNext: "Siguiente",
                sPrevious: "Anterior",
              },
              oAria: {
                sSortAscending:
                  ": Activar para ordenar la columna de manera ascendente",
                sSortDescending:
                  ": Activar para ordenar la columna de manera descendente",
              },
            },
          });
    });

    // Script para manejar la creación de un urbanismo
    $('#createForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/urbanismos/crear/',
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: response.message || 'Urbanismo creado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('createModal');
                    $('#createModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al crear el urbanismo.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la edición de un urbanismo
    $('#editForm').on('submit', function (event) {
        event.preventDefault();
        var id = $('#edit-id').val();
        $.ajax({
            type: 'PUT',
            url: '/urbanismos/' + id + '/editar/',
            data: $(this).serialize(),
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: response.message || 'Urbanismo actualizado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('editModal');
                    $('#editModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al actualizar el urbanismo.';
                if (xhr.responseJSON && xhr.responseJSON.errors) {
                    errorMessage = Object.values(xhr.responseJSON.errors).join('\n');
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Script para manejar la eliminación de un urbanismo
    $('#deleteForm').on('submit', function (event) {
        event.preventDefault();
        var id = $('#delete-id').val();
        $.ajax({
            type: 'DELETE',
            url: '/urbanismos/' + id + '/eliminar/',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function (response) {
                Swal.fire({
                    title: 'Éxito!',
                    text: response.message || 'Urbanismo eliminado correctamente.',
                    type: 'success',
                    confirmButtonText: 'Aceptar'
                }).then(() => {
                    limpiarModal('deleteModal');
                    $('#deleteModal').modal('hide');
                    location.reload();
                });
            },
            error: function (xhr) {
                let errorMessage = 'Ocurrió un error al eliminar el urbanismo.';
                if (xhr.responseJSON && xhr.responseJSON.error) {
                    errorMessage = xhr.responseJSON.message;
                }
                Swal.fire({
                    title: 'Error!',
                    text: errorMessage,
                    type: 'error',
                    confirmButtonText: 'Aceptar'
                });
            }
        });
    });

    // Modificar la función limpiarModal
    function limpiarModal(modalId) {
        const modal = document.getElementById(modalId);
        if (modal) {
            // Resetear el formulario
            const form = modal.querySelector('form');
            if (form) {
                form.reset();
            }

            // Si es el modal de edición, no limpiar el select de estados
            if (modalId !== 'editModal') {
                const selects = modal.querySelectorAll('select');
                selects.forEach(select => {
                    select.innerHTML = '<option value="" disabled selected>Seleccione una opción</option>';
                });
            } else {
                // Para el modal de edición, solo limpiar municipio, parroquia y sector
                const selectsToReset = ['edit-municipio', 'edit-parroquia', 'edit-sector'];
                selectsToReset.forEach(selectId => {
                    const select = document.getElementById(selectId);
                    if (select) {
                        select.innerHTML = '<option value="" disabled selected>Seleccione una opción</option>';
                    }
                });
            }

            // Limpiar validaciones
            const invalidElements = modal.querySelectorAll('.is-invalid');
            invalidElements.forEach(element => {
                element.classList.remove('is-invalid');
            });

            // Limpiar mensajes de error
            const errorMessages = modal.querySelectorAll('.invalid-feedback');
            errorMessages.forEach(message => {
                message.remove();
            });
        }
    }

    // Modificar el evento show.bs.modal para el modal de edición
    $('#editModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var urbanismoId = button.data('id');
        var desUrb = button.data('des-urb');
        var direccion = button.data('direccion');
        var estado = button.data('estado');
        var municipio = button.data('municipio');
        var parroquia = button.data('parroquia');
        var sector = button.data('sector');
        var status = button.data('status') === true || button.data('status') === 'True';

        var modal = $(this);
        modal.find('#edit-id').val(urbanismoId);
        modal.find('#edit-des_urb').val(desUrb);
        modal.find('#edit-direccion').val(direccion);
        modal.find('#edit-status').prop('checked', status);

        // Guardar los valores seleccionados como data attributes
        $('#edit-municipio').attr('data-selected', municipio);
        $('#edit-parroquia').attr('data-selected', parroquia);
        $('#edit-sector').attr('data-selected', sector);

        // Reinicializar los select2bs4
        $('.select2bs4').select2({
            theme: 'bootstrap4',
            placeholder: function() {
                return $(this).data('placeholder');
            },
            allowClear: true,
            width: '100%',
            language: {
                noResults: function() {
                    return "No se encontraron resultados";
                },
                searching: function() {
                    return "Buscando...";
                }
            },
            minimumInputLength: 0,
            minimumResultsForSearch: 10
        });

        // Establecer el estado y disparar la carga en cascada
        setTimeout(function() {
            $('#edit-estado').val(estado).trigger('change');
        }, 100);
    });

    // Modificar el evento hidden.bs.modal
    $('#editModal').on('hidden.bs.modal', function () {
        // Destruir las instancias de select2bs4 antes de limpiar
        $('.select2bs4').select2('destroy');
        limpiarModal('editModal');
    });

    // Obtener el token CSRF de la cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Verifica si este es el cookie que buscamos
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    // Incluir el token CSRF en los encabezados de la solicitud AJAX
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Si no es una solicitud a otro dominio, agrega el token CSRF
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    function cargarMunicipios(prefix = '') {
        const estadoId = document.getElementById(prefix + 'estado').value;
        fetch(`/api/municipios/?estado=${estadoId}`)
            .then(response => response.json())
            .then(data => {
                const municipioSelect = document.getElementById(prefix + 'municipio');
                municipioSelect.innerHTML = '<option value="" disabled selected>Seleccione un Municipio</option>';
                data.forEach(municipio => {
                    municipioSelect.innerHTML += `<option value="${municipio.co_mpo}">${municipio.co_mpo} - ${municipio.des_mpo}</option>`;
                });
                // Si estamos en el modal de edición y hay un municipio seleccionado
                if (prefix === 'edit-' && municipioSelect.dataset.selected) {
                    municipioSelect.value = municipioSelect.dataset.selected;
                    cargarParroquias(prefix);
                }
            })
            .catch(error => {
                console.error('Error al cargar los municipios:', error);
            });
    }
    
    function cargarParroquias(prefix = '') {
        const municipioId = document.getElementById(prefix + 'municipio').value;
        fetch(`/api/parroquias?municipio=${municipioId}`)
            .then(response => response.json())
            .then(data => {
                const parroquiaSelect = document.getElementById(prefix + 'parroquia');
                parroquiaSelect.innerHTML = '<option value="" disabled selected>Seleccione una Parroquia</option>';
                data.forEach(parroquia => {
                    parroquiaSelect.innerHTML += `<option value="${parroquia.co_pquia}">${parroquia.co_pquia} - ${parroquia.des_pquia}</option>`;
                });
                // Si estamos en el modal de edición y hay una parroquia seleccionada
                if (prefix === 'edit-' && parroquiaSelect.dataset.selected) {
                    parroquiaSelect.value = parroquiaSelect.dataset.selected;
                    cargarSectores(prefix);
                }
            })
            .catch(error => {
                console.error('Error al cargar las parroquias:', error);
            });
    }
    
    function cargarSectores(prefix = '') {
        const parroquiasId = document.getElementById(prefix + 'parroquia').value;
        fetch(`/api/sector/?parroquia=${parroquiasId}`)
            .then(response => response.json())
            .then(data => {
                const sectorSelect = document.getElementById(prefix + 'sector');
                sectorSelect.innerHTML = '<option value="" disabled selected>Seleccione un Sector</option>';
                data.forEach(sector => {
                    sectorSelect.innerHTML += `<option value="${sector.id}">${sector.des_sec}</option>`;
                });
                // Si estamos en el modal de edición y hay un sector seleccionado
                if (prefix === 'edit-' && sectorSelect.dataset.selected) {
                    sectorSelect.value = sectorSelect.dataset.selected;
                }
            })
            .catch(error => {
                Swal.fire({  
                    type: 'error',
                    title: 'Error!',
                    text: 'Error al cargar los sectores',
                    //timer: 2000
                });
            });
    }

    // Modificar los event listeners para los selects
    $('#estado, #edit-estado').on('change', function() {
        const prefix = this.id.startsWith('edit-') ? 'edit-' : '';
        cargarMunicipios(prefix);
    });

    $('#municipio, #edit-municipio').on('change', function() {
        const prefix = this.id.startsWith('edit-') ? 'edit-' : '';
        cargarParroquias(prefix);
    });

    $('#parroquia, #edit-parroquia').on('change', function() {
        const prefix = this.id.startsWith('edit-') ? 'edit-' : '';
        cargarSectores(prefix);
    });

    // Script para cargar datos en el modal de eliminación
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que activó el modal
        var urbanismoId = button.data('id');  // Extraer el ID del urbanismo
        var urbanismoNombre = button.data('nombre');  // Extraer el nombre del urbanismo
        var modal = $(this);

        // Llenar el campo oculto con el ID del urbanismo
        modal.find('#delete-id').val(urbanismoId);

        // Mostrar el nombre del urbanismo en el modal
        modal.find('#delete-nombre').text(urbanismoNombre);
    });

    // Agregar también el evento para limpiar el modal de eliminación
    $('#deleteModal').on('hidden.bs.modal', function () {
        limpiarModal('deleteModal');
    });

    // Modificar las inicializaciones de select2bs4
    $(document).ready(function() {
        //Initialize Select2bs4 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4',
            placeholder: function() {
                return $(this).data('placeholder');
            },
            allowClear: true,
            width: '100%',
            language: {
                noResults: function() {
                    return "No se encontraron resultados";
                },
                searching: function() {
                    return "Buscando...";
                }
            },
            minimumInputLength: 0,
            minimumResultsForSearch: 10
        });
    });
</script>
{% endblock scripts %}