{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static '3atech/dist/img/AdminLTELogo.png' %}" alt="xFile Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">xFile Ver. 0.0.1</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    {% include "includes/user.html" %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Panel de Control
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tablero</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tablero v2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">REGISTROS</li>
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Formulario <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'datos_list' %}" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista <span class="badge badge-info right">{{ total_registros }}</span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>Generar Contratos <span class="right badge badge-success">Nuevo</span></p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>Reporte <span class="right badge badge-danger">Nuevo</span></p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class='nav-icon bx bx-table'></i>
            <p>
              Tablas Master
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'representante_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Representante Legal</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'ambiente_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Ambientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'lindero_list' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Linderos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class='nav-icon bx bx-map-pin'></i>
                <p>
                  Ubicación Geográfica
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Estados</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Municipios</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Parroquias</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sectores</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>