{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="{% url 'home' %}" class="brand-link">
    <img src="{% static '3atech/dist/img/AdminLTELogo.png' %}" alt="xFile Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">xFile Ver. 0.0.1</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    {% include "includes/user.html" %}

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Panel de Control
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item ml-3">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tablero</p>
              </a>
            </li>
            <li class="nav-item ml-3">
              <a href="{% url 'home' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Tablero v2</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">REGISTROS</li>
        <li class="nav-item has-treeview {% if current_page == 'datos' %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if current_page == 'datos' %}active{% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Formulario <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item  ml-3">
              <a href="{% url 'datos_list' %}" class="nav-link {% if current_page == 'datos' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista <span class="badge badge-info right">{{ total_registros }}</span></p>
              </a>
            </li>
            <li class="nav-item  ml-3">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>Gen. Contratos <span class="right badge badge-success">New</span></p>
              </a>
            </li>
            <li class="nav-item  ml-3">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-calendar-alt"></i>
                <p>Reporte <span class="right badge badge-danger">New</span></p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item 
          {% if current_page == 'entidades' or current_page == 'representantes' or current_page == 'ambientes' or current_page == 'linderos' or current_page == 'urbanismos' or current_page == 'estados' or current_page == 'municipios' or current_page == 'parroquias' or current_page == 'sectores' %}
            menu-open
          {% endif %}">
          <a href="#" class="nav-link {% if current_page == 'entidades' or current_page == 'representantes' or current_page == 'ambientes' or current_page == 'linderos' %}
            active
          {% endif %}">
            <i class='nav-icon bx bx-table'></i>
            <p>
              Tablas Master
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview ml-3">
            <li class="nav-item">
              <a href="{% url 'entidades_list' %}" class="nav-link {% if current_page == 'entidades' %}active{% endif %}">
                <i class='bx bx-buildings' ></i>
                <p>Entidades</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'representantes_list' %}" class="nav-link {% if current_page == 'representantes' %}active{% endif %}">
                <i class="fas fa-light fa-street-view"></i>
                <p>Representante Legal</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'ambiente_list' %}" class="nav-link {% if current_page == 'ambientes' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Ambientes</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'lindero_list' %}" class="nav-link {% if current_page == 'linderos' %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Linderos</p>
              </a>
            </li>
            <li class="nav-item {% if current_page == 'urbanismos' or current_page == 'estados' or current_page == 'municipios' or current_page == 'parroquias' or current_page == 'sectores' %}
                menu-open
              {% endif %}">
              <a href="#" class="nav-link">
                <i class='nav-icon bx bx-map-pin'></i>
                <p>
                  Ubicación Geográfica
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item ml-3">
                  <a href="{% url 'urbanismo_list' %}" class="nav-link {% if current_page == 'urbanismos' %}active{% endif %}">
                    <i class='bx bx-buildings'></i>
                    <p>Urbanismos</p>
                  </a>
                </li>
                <li class="nav-item ml-3">
                  <a href="{% url 'estado_list' %}" class="nav-link {% if current_page == 'estados' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Estados</p>
                  </a>
                </li>
                <li class="nav-item ml-3">
                  <a href="{% url 'municipio_list' %}" class="nav-link {% if current_page == 'municipios' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Municipios</p>
                  </a>
                </li>
                <li class="nav-item ml-3">
                  <a href="{% url 'parroquia_list' %}" class="nav-link {% if current_page == 'parroquias' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Parroquias</p>
                  </a>
                </li>
                <li class="nav-item ml-3">
                  <a href="{% url 'sector_list' %}" class="nav-link {% if current_page == 'sectores' %}active{% endif %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Sectores</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>