{% load static %}  

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  {% if user.is_authenticated %}
    <div class="image">
      {% if user.profile.avatar %}
        <img src="{{ user.profile.avatar.url }}" class="img-circle elevation-2" alt="User Image">
      {% else %}
        <img src="{% static '3atech/media/profile_default.png' %}" class="img-circle elevation-2" alt="User Image">
    </div>
    <div class="info">
      <a href="#" class="d-block">{{ user.get_full_name }}</a>
      <small class="text-muted">{{ user.groups.first.name }}</small>
    </div>
    {% endif %}
  {% endif %}
</div>
<!--
{% if user.is_authenticated %}
  {% if user.profile.avatar %}
    <img src="{{ user.profile.avatar.url }}" class="img-circle elevation-2" alt="User Image">
  {% else %}
    <img src="{% static '3atech/media/profile_default.png' %}" class="img-circle elevation-2" alt="User Image">
  {% endif %} 
{% else %}
    <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="dropdown">
      <span class="align-middle"><i class="tf-icons bx bx-log-in-circle scaleX-n1-rtl me-md-1"></i>Intresar/Registrate</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="dropdown-item" href="{% url 'login' %}">
          <i class="bx bx-log-in me-2"></i>
          <span class="align-middle">Iniciar Sesión</span>
        </a>
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'register' %}">
          <i class="bx bx-user-plus me-2"></i>
          <span class="align-middle">Registrarse</span>
        </a>
      </li>
    </ul>
  {% endif %}
  -->